<!DOCTYPE html>
<html lang="en">

<head>
    <title>Possessive Adjectives</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BEE LEARNER">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/topic.css">
    <link rel="stylesheet" type="text/css" href="/topic_responsive.css">
    <link rel="stylesheet" type="text/css" href="/quizlib.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/quizlib.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen">
</head>

<body>

    <div class="super_container">

        <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">
            <a class="navbar-brand pl-0 pl-lg-5 ml-0 ml-lg-5" href="../../index.html">BEE<br>LEARNER</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto pr-5">
                    <li class="nav-item ">
                        <a class="nav-link" href="../../index.html">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../grammar.html">Grammar</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="../../Reading/reading.html">Reading</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="../../Listening/listening.html">Listening</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/writing">Writing</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/speaking">Speaking</a>
                    </li>

                </ul>
                <div class="dropdown-divider"></div>
                <ul class="navbar-nav pr-5 mr-5">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log Out</a>
                    </li>
                </ul>

                <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </nav><br>

        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="grammar_title"><a href="../grammar.html">Grammar </a><a href="grammar_a1.html"> /
                                A1</a>
                            / Possessive Adjectives</div>
                    </div>
                </div>
            </div>
        </div><br>



        <div class="course">
            <div class="container">
                <div class="row row-lg-eq-height">

                    <div class="col-lg-12">

                    <form action="/auth/mainTest" method="POST">    
                        <div id="main-test">
                            <!-- <div class="tab_panel part-1 active"> -->



                                <div class="card quizlib-question">
                                <div class="quizlib-question-title">1. Coaches reserved for _ are often misused as they are less crowded.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_1" id="a1_t1_1" value="1"> the handicapped</label></li>
                                        <li><label><input type="radio" name="a1_t1_1" id="a1_t1_1" value="0"> the handicapped people</label></li>
                                        <li><label><input type="radio" name="a1_t1_1" id="a1_t1_1" value="0"> handicapped</label></li>
                                        <li><label><input type="radio" name="a1_t1_1" id="a1_t1_1" value="0"> handicapped people</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">2. _ have always tried to preserve their identity and national
                                    independence.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_2" id="a1_t1_2" value="0"> Vietnamese</label></li>
                                        <li><label><input type="radio" name="a1_t1_2" id="a1_t1_2" value="0"> Vietnameses</label></li>
                                        <li><label><input type="radio" name="a1_t1_2" id="a1_t1_2" value="1"> The Vietnamese</label></li>
                                        <li><label><input type="radio" name="a1_t1_2" id="a1_t1_2" value="0"> The Vietnameses</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">3. _ are the third-biggest consumers of coffee. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_3" id="a1_t1_3" value="0"> The Swedish</label></li>
                                        <li><label><input type="radio" name="a1_t1_3" id="a1_t1_3" value="0"> Swedish</label></li>
                                        <li><label><input type="radio" name="a1_t1_3" id="a1_t1_3" value="1"> The Swedes</label></li>
                                        <li><label><input type="radio" name="a1_t1_3" id="a1_t1_3" value="0"> Swede people</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">4. On this day family members light candles in honor of _.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_4" id="a1_t1_4" value="0"> the dead people</label></li>
                                        <li><label><input type="radio" name="a1_t1_4" id="a1_t1_4" value="0"> the dead</label></li>
                                        <li><label><input type="radio" name="a1_t1_4" id="a1_t1_4" value="1"> the deads</label></li>
                                        <li><label><input type="radio" name="a1_t1_4" id="a1_t1_4" value="0"> dead</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">5. In 1856, _ discovered a way of making steel fast and cheap.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_5" id="a1_t1_5" value="0">> an English</label></li>
                                        <li><label><input type="radio" name="a1_t1_5" id="a1_t1_5" value="0">> the Englishes</label></li>
                                        <li><label><input type="radio" name="a1_t1_5" id="a1_t1_5" value="1">> the English</label></li>
                                        <li><label><input type="radio" name="a1_t1_5" id="a1_t1_5" value="0">> an Englishman</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">6.He was a serious supporter of _.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_6" id="a1_t1_6" value="1"> the poor and oppressed people</label></li>
                                        <li><label><input type="radio" name="a1_t1_6" id="a1_t1_6" value="0"> the poors and oppresed</label></li>
                                        <li><label><input type="radio" name="a1_t1_6" id="a1_t1_6" value="0"> the poor and the oppressed</label></li>
                                        <li><label><input type="radio" name="a1_t1_6" id="a1_t1_6" value="0"> poor and oppressed people</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">7. _ and _ have always had a slightly tense relationship
                                    relating to either football or warfare. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_7" id="a1_t1_7" value="0"> The English and the Germans</label></li>
                                        <li><label><input type="radio" name="a1_t1_7" id="a1_t1_7" value="0"> The English and the German</label></li>
                                        <li><label><input type="radio" name="a1_t1_7" id="a1_t1_7" value="1"> English and Germans</label></li>
                                        <li><label><input type="radio" name="a1_t1_7" id="a1_t1_7" value="0"> English people and German</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">8. Applying for a mortgage is different for _.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_8" id="a1_t1_8" value="0"> the self-employed</label></li>
                                        <li><label><input type="radio" name="a1_t1_8" id="a1_t1_8" value="1"> the self-employed people</label></li>
                                        <li><label><input type="radio" name="a1_t1_8" id="a1_t1_8" value="0"> self-employed</label></li>
                                        <li><label><input type="radio" name="a1_t1_8" id="a1_t1_8" value="0"> self-employed people</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">9. The company was set up by a __. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_9" id="a1_t1_9" value="1"> Dane and a Finishwoman</label></li>
                                        <li><label><input type="radio" name="a1_t1_9" id="a1_t1_9" value="0"> Dane and a Finn</label></li>
                                        <li><label><input type="radio" name="a1_t1_9" id="a1_t1_9" value="0"> Danishman and a Finishwoman</label></li>
                                        <li><label><input type="radio" name="a1_t1_9" id="a1_t1_9" value="0"> Danishman and a Finn</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">10. They are organising a Christmas party for _.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_10" id="a1_t1_10" value="0"> the elderly</label></li>
                                        <li><label><input type="radio" name="a1_t1_10" id="a1_t1_10" value="0"> the old people</label></li>
                                        <li><label><input type="radio" name="a1_t1_10" id="a1_t1_10" value="1"> the olds</label></li>
                                        <li><label><input type="radio" name="a1_t1_10" id="a1_t1_10" value="0"> old people</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">11. Where do you live?.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_11" id="a1_t1_11" value="0"> I am live in London.</label></li>
                                        <li><label><input type="radio" name="a1_t1_11" id="a1_t1_11" value="0"> My live is London.</label></li>
                                        <li><label><input type="radio" name="a1_t1_11" id="a1_t1_11" value="1"> I live in London.</label></li>
                                        <li><label><input type="radio" name="a1_t1_11" id="a1_t1_11" value="0"> I lives in London.</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">12. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_12" id="a1_t1_12" value="1"> He has two brothers.</label></li>
                                        <li><label><input type="radio" name="a1_t1_12" id="a1_t1_12" value="0"> I has two brothers.</label></li>
                                        <li><label><input type="radio" name="a1_t1_12" id="a1_t1_12" value="0"> He got two brothers.</label></li>
                                        <li><label><input type="radio" name="a1_t1_12" id="a1_t1_12" value="0"> He two brothers.</label></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">13. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t1_13" id="a1_t1_13" value="0"> They is Italian.</label></li>
                                        <li><label><input type="radio" name="a1_t1_13" id="a1_t1_13" value="0"> They is Italy.</label></li>
                                        <li><label><input type="radio" name="a1_t1_13" id="a1_t1_13" value="1"> They are Italian.</label></li>
                                        <li><label><input type="radio" name="a1_t1_13" id="a1_t1_13" value="0"> They Italian.</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">14. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t2_14" id="a1_t2_14" value="1"> My name is Margaret.</label></li>
                                        <li><label><input type="radio" name="a1_t2_14" id="a1_t2_14" value="0"> My name are Margaret.</label></li>
                                        <li><label><input type="radio" name="a1_t2_14" id="a1_t2_14" value="0"> Margaret are my name.</label></li>
                                        <li><label><input type="radio" name="a1_t2_14" id="a1_t2_14" value="0"> Margaret be my name.</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">15. Are you German? </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t2_15" id="a1_t2_15" value="0"> No. My are American.</label></li>
                                        <li><label><input type="radio" name="a1_t2_15" id="a1_t2_15" value="0"> No. My is American.</label></li>
                                        <li><label><input type="radio" name="a1_t2_15" id="a1_t2_15" value="0"> No. I is American.</label></li>
                                        <li><label><input type="radio" name="a1_t2_15" id="a1_t2_15" value="1"> No. I am American.</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">16. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t2_16" id="a1_t2_16" value="0"> Me like coffee.</label></li>
                                        <li><label><input type="radio" name="a1_t2_16" id="a1_t2_16" value="0"> I like the coffee.</label></li>
                                        <li><label><input type="radio" name="a1_t2_16" id="a1_t2_16" value="1"> I like coffee.</label></li>
                                        <li><label><input type="radio" name="a1_t2_16" id="a1_t2_16" value="0"> Me don't like coffee.</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">17. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t2_17" id="a1_t2_17" value="1"> She lives on your street.</label></li>
                                        <li><label><input type="radio" name="a1_t2_17" id="a1_t2_17" value="0"> She live on your street.</label></li>
                                        <li><label><input type="radio" name="a1_t2_17" id="a1_t2_17" value="0"> She do on your street.</label></li>
                                        <li><label><input type="radio" name="a1_t2_17" id="a1_t2_17" value="0"> She does on your street.</label></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">18. Do you like music? </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t3_18" id="a1_t3_18" value="0"> Yes, I does.</label></li>
                                        <li><label><input type="radio" name="a1_t3_18" id="a1_t3_18" value="0"> Yes, I like.</label></li>
                                        <li><label><input type="radio" name="a1_t3_18" id="a1_t3_18" value="1"> Yes, I do..</label></li>
                                        <li><label><input type="radio" name="a1_t3_18" id="a1_t3_18" value="0"> Yes, I am.</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">19. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a1_t3_19" id="a1_t3_19" value="0"> She be born in Paris.</label></li>
                                        <li><label><input type="radio" name="a1_t3_19" id="a1_t3_19" value="0"> She is born in Paris.</label></li>
                                        <li><label><input type="radio" name="a1_t3_19" id="a1_t3_19" value="1"> She was born in Paris.</label></li>
                                        <li><label><input type="radio" name="a1_t3_19" id="a1_t3_19" value="0"> She born in Paris.</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">20. I haven't seen him ...... </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a2_t3_20" id="a2_t3_20" value="1"> since yesterday.</label></li>
                                        <li><label><input type="radio" name="a2_t3_20" id="a2_t3_20" value="0"> for yesterday.</label></li>
                                        <li><label><input type="radio" name="a2_t3_20" id="a2_t3_20" value="0"> yes i do.</label></li>
                                        <li><label><input type="radio" name="a2_t3_20" id="a2_t3_20" value="0"> until yesterday.</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">21. Have you ever ...... </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a2_t4_21" id="a2_t4_21" value="0"> gone</label></li>
                                        <li><label><input type="radio" name="a2_t4_21" id="a2_t4_21" value="0"> went</label></li>
                                        <li><label><input type="radio" name="a2_t4_21" id="a2_t4_21" value="1"> been</label></li>
                                        <li><label><input type="radio" name="a2_t4_21" id="a2_t4_21" value="0"> was</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">22.  </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a2_t4_22" id="a2_t4_22" value="0"> We are use to live in Paris.</label></li>
                                        <li><label><input type="radio" name="a2_t4_22" id="a2_t4_22" value="0"> We usually live in Paris.</label></li>
                                        <li><label><input type="radio" name="a2_t4_22" id="a2_t4_22" value="0"> We are using to live in Paris.</label></li>
                                        <li><label><input type="radio" name="a2_t4_22" id="a2_t4_22" value="1"> We used to live in Paris.</label></li>
                                    </ul>
                                </div>
                            </div>  


                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">23. I wouldn't do that ...... </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a2_t4_23" id="a2_t4_23" value="0"> if I was you.</label></li>
                                        <li><label><input type="radio" name="a2_t4_23" id="a2_t4_23" value="0"> if I would be you.</label></li>
                                        <li><label><input type="radio" name="a2_t4_23" id="a2_t4_23" value="1"> if I were you.</label></li>
                                        <li><label><input type="radio" name="a2_t4_23" id="a2_t4_23" value="0"> if I would you.</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">24. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a2_t1_24" id="a2_t1_24" value="1"> They didn't see him</label></li>
                                        <li><label><input type="radio" name="a2_t1_24" id="a2_t1_24" value="0"> They hadn't see him</label></li>
                                        <li><label><input type="radio" name="a2_t1_24" id="a2_t1_24" value="0"> They can't see him</label></li>
                                        <li><label><input type="radio" name="a2_t1_24" id="a2_t1_24" value="0"> They weren't see him</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">25. They are ...... ...... to Brazil tomorrow.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a2_t3_25" id="a2_t3_25" value="0"> going flying</label></li>
                                        <li><label><input type="radio" name="a2_t3_25" id="a2_t3_25" value="0"> fly</label></li>
                                        <li><label><input type="radio" name="a2_t3_25" id="a2_t3_25" value="0"> to fly</label></li>
                                        <li><label><input type="radio" name="a2_t3_25" id="a2_t3_25" value="1"> going to fly</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">26. I have never ......Indian food.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a2_t3_26" id="a2_t3_26" value="0"> ate</label></li>
                                        <li><label><input type="radio" name="a2_t3_26" id="a2_t3_26" value="0"> eat</label></li>
                                        <li><label><input type="radio" name="a2_t3_26" id="a2_t3_26" value="1"> eaten</label></li>
                                        <li><label><input type="radio" name="a2_t3_26" id="a2_t3_26" value="0"> to eat</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">27. Robert's from New York, ..... </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a2_t4_27" id="a2_t1_27" value="0"> doesn't he?</label></li>
                                        <li><label><input type="radio" name="a2_t4_27" id="a2_t1_27" value="0"> does he?</label></li>
                                        <li><label><input type="radio" name="a2_t4_27" id="a2_t1_27" value="0"> is he?</label></li>
                                        <li><label><input type="radio" name="a2_t4_27" id="a2_t1_27" value="1"> isn't he?</label></li>
                                    </ul>
                                </div>
                            </div>  


                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">28. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="a2_t4_28" id="a2_t4_28" value="1"> Can you speak German?</label></li>
                                        <li><label><input type="radio" name="a2_t4_28" id="a2_t4_28" value="0"> Could you speak German?</label></li>
                                        <li><label><input type="radio" name="a2_t4_28" id="a2_t4_28" value="0"> Couldn't you speak German?</label></li>
                                        <li><label><input type="radio" name="a2_t4_28" id="a2_t4_28" value="0"> Can't you speak German?</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">29. He's still sleeping, ________ </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b1_t1_29" id= "b1_t1_29" value="0"> is not he?</label></li>
                                        <li><label><input type="radio" name="b1_t1_29" id= "b1_t1_29" value="1"> isn't he?</label></li>
                                        <li><label><input type="radio" name="b1_t1_29" id= "b1_t1_29" value="0"> wasn't he?</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">30. You do go to school, ________ </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b1_t1_30" id= "b1_t1_30" value="0"> do you?</label></li>
                                        <li><label><input type="radio" name="b1_t1_30" id= "b1_t1_30" value="0"> aren't you?</label></li>
                                        <li><label><input type="radio" name="b1_t1_30" id= "b1_t1_30" value="1"> don't you?</label></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">31. Paul is behaving in a very unusual way. I think he ______ again. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b1_t2_31" id= "b1_t2_31" value="0"> can't drink</label></li>
                                        <li><label><input type="radio" name="b1_t2_31" id= "b1_t2_31" value="0"> can be drinking</label></li>
                                        <li><label><input type="radio" name="b1_t2_31" id= "b1_t2_31" value="1"> might be drinking</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">32. If Suzan said that, it ______ true. She never lies. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b1_t2_32" id= "b1_t2_32" value="0"> might be</label></li>
                                        <li><label><input type="radio" name="b1_t2_32" id= "b1_t2_32" value="1"> must be</label></li>
                                        <li><label><input type="radio" name="b1_t2_32" id= "b1_t2_32" value="0"> can be</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">33. don't know the answer. How many times_______to tell you?</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b1_t3_33" id= "b1_t3_33" value="0"> I have</label></li>
                                        <li><label><input type="radio" name="b1_t3_33" id= "b1_t3_33" value="0"> I do have</label></li>
                                        <li><label><input type="radio" name="b1_t3_33" id= "b1_t3_33" value="1"> do I have</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">34. don't know______so unhappy.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b1_t3_34" id= "b1_t3_34" value="1"> why he’s always</label></li>
                                        <li><label><input type="radio" name="b1_t3_34" id= "b1_t3_34" value="0"> why is he always</label></li>
                                        <li><label><input type="radio" name="b1_t3_34" id= "b1_t3_34" value="0"> wheter is he always</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">35. We had a web designer_____our website.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b1_t4_35" id= "b1_t4_35" value="0"> made</label></li>
                                        <li><label><input type="radio" name="b1_t4_35" id= "b1_t4_35" value="1"> make</label></li>
                                        <li><label><input type="radio" name="b1_t4_35" id= "b1_t4_35" value="0"> to make</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">36. We should get_____before we can launch the new product. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b1_t4_36" id= "b1_t4_36" value="1"> a new logo designed</label></li>
                                        <li><label><input type="radio" name="b1_t4_36" id= "b1_t4_36" value="0"> to design a new logo</label></li>
                                        <li><label><input type="radio" name="b1_t4_36" id= "b1_t4_36" value="0"> a new logo to design</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">37. I feel really unhappy! I wish I _____ this job. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t1_37" id= "b2_t1_37" value="1"> didn´t aceppt</label></li>
                                        <li><label><input type="radio" name="b2_t1_37" id= "b2_t1_37" value="0"> wouldn´t accept</label></li>
                                        <li><label><input type="radio" name="b2_t1_37" id= "b2_t1_37" value="0"> hadn´t accepted</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">38.  If only I ____ to you before I made the decision to come here.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t1_38" id= "b2_t1_38" value="0"> had listened </label></li>
                                        <li><label><input type="radio" name="b2_t1_38" id= "b2_t1_38" value="0"> would listen</label></li>
                                        <li><label><input type="radio" name="b2_t1_38" id= "b2_t1_38" value="1"> listened</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">39.  ______ are known for their outgoing personalities, generosity and sense of humour.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t2_39" id= "b2_t2_39" value="0"> The Australian people</label></li>
                                        <li><label><input type="radio" name="b2_t2_39" id= "b2_t2_39" value="1"> The Australians </label></li>
                                        <li><label><input type="radio" name="b2_t2_39" id= "b2_t2_39" value="0"> The Australian </label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">40.  ______ come mostly from older generations.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t2_40" id= "b2_t2_40" value="0"> The illiterate people</label></li>
                                        <li><label><input type="radio" name="b2_t2_40" id= "b2_t2_40" value="2"> The illiterate </label></li>
                                        <li><label><input type="radio" name="b2_t2_40" id= "b2_t2_40" value="0"> The illiterates</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">41. If I hadn't fought for our relationship, we ____ together now.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t3_41" id= "b2_t3_41" value="1"> wouldn't be </label></li>
                                        <li><label><input type="radio" name="b2_t3_41" id= "b2_t3_41" value="0"> weren´t</label></li>
                                        <li><label><input type="radio" name="b2_t3_41" id= "b2_t3_41" value="0"> wouldn't have been</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">42. I would be happier if I ____ 'yes' when she asked me to marry her.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t3_42" id= "b2_t3_42" value="0"> said</label></li>
                                        <li><label><input type="radio" name="b2_t3_42" id= "b2_t3_42" value="1"> had said </label></li>
                                        <li><label><input type="radio" name="b2_t3_42" id= "b2_t3_42" value="0"> would say</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">43. Yesterday I fell running and I think I ___ my ankle.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t4_43" id= "b2_t4_43" value="1"> might have sprain </label></li>
                                        <li><label><input type="radio" name="b2_t4_43" id= "b2_t4_43" value="0"> might sprain</label></li>
                                        <li><label><input type="radio" name="b2_t4_43" id= "b2_t4_43" value="0"> ´m likely to sprain</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">44. This song ___ the next big hit.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t4_44" id="b2_t4_44" value="1"> is sure to be </label></li>
                                        <li><label><input type="radio" name="b2_t4_44" id="b2_t4_44" value="0"> definitely will be</label></li>
                                        <li><label><input type="radio" name="b2_t4_44" id="b2_t4_44" value="0"> must have been</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">45. you ____a copy on0the contract at the email address you provided the day after you signed.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t4_45" id0"b2_t4_45" value="1"> should have received </label></li>
                                        <li><label><input type="radio" name="b2_t4_45" id="b2_t4_45" value="0"> must be bound to received</label></li>
                                        <li><label><input type="radio" name="b2_t4_45" id="b2_t4_45" value="0"> should receive</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">46. We________while we were away on holiday. </div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t3_46" id="b2_t3_46" value="0"> had burgled our flat </label></li>
                                        <li><label><input type="radio" name="b2_t3_46" id="b2_t3_46" value="0"> had our flat to burgle</label></li>
                                        <li><label><input type="radio" name="b2_t3_46" id="b2_t3_46" value="1"> got our flat burgled</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">47. You should have____a long time ago.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t3_47" id="b2_t3_47"value="1"> had your car repaired </label></li>
                                        <li><label><input type="radio" name="b2_t3_47" id="b2_t3_47"value="0"> your car repaired</label></li>
                                        <li><label><input type="radio" name="b2_t3_47" id="b2_t3_47"value="0"> to repair your car</label></li>
                                    </ul>
                                </div>
                            </div>  

                            <div class="card quizlib-question">
                                <div class="quizlib-question-title">48. We could_____no-one to fix it.</div>
                                <div class="quizlib-question-answers">
                                    <ul>
                                        <li><label><input type="radio" name="b2_t4_48" id="b2_t4_48" value="0"> have </label></li>
                                        <li><label><input type="radio" name="b2_t4_48" id="b2_t4_48" value="0"> to have</label></li>
                                        <li><label><input type="radio" name="b2_t4_48" id="b2_t4_48" value="1"> get</label></li>
                                    </ul>
                                </div>
                            </div>  
                                

                                {{!-- <div id="quiz-result" class="card">
                                    You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span
                                        id="quiz-max-score"></span><br />
                                </div> --}}
                                {{#if messageSuccess }}
                                                <h4 class="alert alert-success mt-2">{{messageSuccess}}</h4>
                                {{/if}}
                                <center><button type="submit" onclick="showResults(mainTest);">Check
                                        Answers</button>
                                </center>

                            <!-- </div> -->

                        </div>
                    </form>

                        <div class="course_tabs_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <div class="tabs d-flex flex-row align-items-center justify-content-center">
                                            <div class="tab active">1</div>
                                            <div class="tab">2</div>
                                            <div class="tab">3</div>
                                            <div class="tab">4</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>

                </div>
            </div>

        </div>
    </div>
  

    <footer class="footer">
        <div class="footer_body">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 footer_col">
                        <div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
                            <div class="footer_logo mb-auto"><a href="#">BEE LEARNER</a></div>
                        </div>
                    </div>


                    <div class="col-lg-9 footer_col ">
                        <div>
                            <div class="footer_title">Help & Support</div>
                            <ul class="footer_list">
                                <li><a href="#">E-mail</a></li>
                                <li><a href="#">bislearning4@gmail.com</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap4/popper.js"></script>
    <script src="/bootstrap4/bootstrap.min.js"></script>
    <script src="/easing/easing.js"></script>
    <script src="/parallax-js-master/parallax.min.js"></script>

    <script src="/course.js"></script>
    <script type="text/javascript" src="/quizlib.1.0.1.min.js"></script>
    <script type="text/javascript" src="/quizlib.js"></script>
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>