<!DOCTYPE html>
<html lang="en">

<head>
    <title>Talking About Contries</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BEE LEARNER">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/topic.css">
    <link rel="stylesheet" type="text/css" href="/topic_responsive.css">
    <link rel="stylesheet" type="text/css" href="/quizlib.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/quizlib.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen">
</head>

<body>

    <div class="super_container">

        <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">
				<a class="navbar-brand pl-0 pl-lg-5 ml-0 ml-lg-5" href="/index">BEE<br>LEARNER</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto pr-5">
						<li class="nav-item">
							<a class="nav-link" href="/index">Home </a>  
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/grammar">Grammar</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/reading">Reading</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/listening">Listening</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/writing">Writing</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/speaking">Speaking</a>
						</li>
						
					</ul>
					<div class="dropdown-divider"></div>
					<ul class="navbar-nav pr-5 mr-5">
						<li class="nav-item">
							<a class="nav-link" href="/auth/logout">Log Out</a>  
						</li>
					</ul>
		
					<!-- <form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form> -->
				</div>
			</nav><br>

        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="grammar_title"><a href="/reading">Reading</a><a href="/reading_b2"> /
                            B2</a>
                            / Talking About Contries</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space"></div>

        <div class="course">
            <div class="course_top"></div>
            <div class="container">
                <div class="row row-lg-eq-height">

                    <div class="col-lg-10">
                        <div class="tab_panels">


                            <div class="course_tabs_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9 ">
                                            <div class="tabs d-flex flex-row align-items-center justify-content-start">
                                                <div class="tab active">Read</div>
                                                <div class="tab">Exercise</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="tab_panel description active">
                                <div class="panel_title"></div>
                                <div class="panel_text">
                                    <p>
                                           
                                        Like most companies in an increasingly globalised world, our firm does business
                                        with other firms abroad. Company cultures vary worldwide, and it is important
                                        for delegates from our company to recognise how company culture overseas might
                                        be different from our own. This document will give you a brief guide to company
                                        culture in the countries we associate with.<br>

                                        <br><strong>Russia</strong><br>
                                        Until recently, people and businesses were oppressed by the state and this has
                                        affected people’s attitudes. It is not uncommon for laws to be ignored and taxes
                                        to go unpaid. In some cases, only contracts between close personal friends are
                                        acknowledged. Therefore, networking is vital for successful business. Presently,
                                        the legal situation in Russia is in a state of flux, with laws constantly being
                                        rewritten. Those that exist are often unenforceable. Most agreements are
                                        therefore made on a trust basis, so it is vital that personal relationships do
                                        not break down.<br> The management style is centralised and directive. Too much
                                        debate can indicate a lack of decisiveness. Subordinates take orders from the
                                        ‘big boss’. Many westerners see this as a lack of initiative on the part of
                                        middle managers, but in actual fact, middle managers have little power. Most
                                        delays occur because the question has not been presented to actual
                                        decision-maker. However, things are changing in Russia. The old regime is
                                        gradually being replaced by western business style, and younger managers will
                                        have a much more modern approach than their older counterparts.<br>

                                        <br><strong>South Korea</strong><br>
                                        South Korea is one of the world’s most successful economies, having seen five
                                        consecutive decades of high economic growth. When faced with adversity, South
                                        Koreans change direction quickly and effectively. Despite the frantic economic
                                        growth, South Korean society is still very conservative and conformist due to
                                        the influence of Confucian values. Companies are hierarchical and regimented and
                                        ‘face’ is very much valued. Consequently, change can sometimes be slow and
                                        painful.<br> Managers are paternalistic, authoritative figures who expect their
                                        instructions to be carried out obediently and respectfully. In return, they give
                                        their subordinates support and help, not only in work issues but in home issues
                                        as well. Group harmony is important, so South Koreans avoid confrontation and
                                        blame, especially among people of equal rank. Friendship is therefore vital to
                                        business success. The Korean saying 'make a friend first and a client second'
                                        sums this up exactly.<br>

                                        <br><strong>Australia</strong><br>
                                        Australia has a relatively small population in relation to its vast size. Its
                                        geographic isolation and its small domestic market mean that international trade
                                        is essential to guarantee future prosperity. Increasingly, this is done in
                                        countries in Asia rather than Commonwealth countries. Australian managers are
                                        not considered to have superior status to other workers. Their jobs are just
                                        different. Authoritative management styles are not appreciated among Australians
                                        workers. <br>Instead, managers adopt a more consultative and inclusive style which
                                        encourages open debate. Challenging superiors is acceptable, indeed it is a sign
                                        of commitment and professionalism. Outsiders may consider such dialogues
                                        confrontational, but Australians regard them as effective ways to communicate
                                        ideas. Australian managers like to be seen as ‘one of the boys’ and they are
                                        more likely to socialise with their team than segregate themselves and just mix
                                        with other managers.<br>

                                        <br><strong>UK</strong><br>
                                        In the last half century, Britain, like many industrialised countries, has moved
                                        away from heavy engineering towards service and high-tech industries. With this
                                        has come a major shift in management style. Hierarchical systems have been swept
                                        aside and replaced by modern business models, heavily influenced by the US. The
                                        ‘job for life’ is rare. Neither managers nor junior workers expect to climb the
                                        corporate ladder within one company; rather, they manage their own career paths
                                        by progressing from company to company. Such short-termism can be frustrating
                                        for outsiders.<br> British managers tend to be generalists rather than specialists,
                                        and are not necessarily the most technically competent person in the team.
                                        Instead, they are expected to have the necessary interpersonal skills to ensure
                                        the team works together effectively. They cultivate a close and humorous
                                        relationship with subordinates, which may be considered too soft. Giving direct
                                        orders can be seen as impolite, so managers often make indirect requests rather
                                        than explicit instructions, which is sometimes confusing for non-British people.</p>

                                </div>

                                

                            </div>

                            <div class="tab_panel curriculum">
                                <div
                                    class="cur_title_container d-flex flex-row align-items-start justify-content-start">
                                    <div class="cur_title">Choose the correct forms to complete the sentences below.
                                    </div>
                                </div>

                                <br>

                                <div id="quiz-countries">

                                        <div class="card quizlib-question">
                                                <div class="quizlib-question-title">1. The people I deal with keep moving on to new jobs.</div>
                                                <div class="quizlib-question-answers">
                                                    <ul>
                                                        <li><label><input type="radio" name="q1" value="a"> Russia</label></li>
                                                        <li><label><input type="radio" name="q1" value="b"> South Korea</label></li>
                                                        <li><label><input type="radio" name="q1" value="c"> Australia</label>   
                                                        </li>
                                                        <li><label><input type="radio" name="q1" value="b"> UK</label></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
        
                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title">2. “Unless you’re friends, they may not honour your agreement.”  </div>
                                                <div class="quizlib-question-answers">
                                                    <ul>
                                                        <li><label><input type="radio" name="q2" value="a"> Russia</label></li>
                                                        <li><label><input type="radio" name="q2" value="b"> South Korea</label></li>
                                                        <li><label><input type="radio" name="q2" value="c"> Australia</label>   
                                                        </li>
                                                        <li><label><input type="radio" name="q2" value="b"> UK</label></li>
                                                    </ul>
                                                </div>
                                            </div>
        
                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title">3. “It’s frustrating because the official regulations keep changing.”</div>
                                                <div class="quizlib-question-answers">
                                                    <ul>
                                                        <li><label><input type="radio" name="q3" value="a"> Russia</label></li>
                                                        <li><label><input type="radio" name="q3" value="b"> South Korea</label></li>
                                                        <li><label><input type="radio" name="q3" value="c"> Australia</label>   
                                                        </li>
                                                        <li><label><input type="radio" name="q3" value="b"> UK</label></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
        
                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title">4. “Disagreements between colleagues are frowned upon.”</div>
                                                <div class="quizlib-question-answers">
                                                    <ul>
                                                        <li><label><input type="radio" name="q4" value="a"> Russia</label></li>
                                                        <li><label><input type="radio" name="q4" value="b"> South Korea</label></li>
                                                        <li><label><input type="radio" name="q4" value="c"> Australia</label>   
                                                        </li>
                                                        <li><label><input type="radio" name="q4" value="b"> UK</label></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
        
                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title">5. “I thought the manager had the authority to make a decision, but it turned out that he didn’t.” </div>
                                                <div class="quizlib-question-answers">
                                                    <ul>
                                                        <li><label><input type="radio" name="q5" value="a"> Russia</label></li>
                                                        <li><label><input type="radio" name="q5" value="b"> South Korea</label></li>
                                                        <li><label><input type="radio" name="q5" value="c"> Australia</label>   
                                                        </li>
                                                        <li><label><input type="radio" name="q5" value="b"> UK</label></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
        
                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title">6.  “The manager and another member of staff had a huge disagreement in the meeting, and no-one seemed to care.”</div>
                                                <div class="quizlib-question-answers">
                                                    <ul>
                                                        <li><label><input type="radio" name="q6" value="a"> Russia</label></li>
                                                        <li><label><input type="radio" name="q6" value="b"> South Korea</label></li>
                                                        <li><label><input type="radio" name="q6" value="c"> Australia</label>   
                                                        </li>
                                                        <li><label><input type="radio" name="q6" value="b"> UK</label></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
        
                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title">7. “They weren’t terribly charming – they just wanted to get on with making the deal.” </div>
                                                <div class="quizlib-question-answers">
                                                    <ul>
                                                        <li><label><input type="radio" name="q7" value="a"> Russia</label></li>
                                                        <li><label><input type="radio" name="q7" value="b"> South Korea</label></li>
                                                        <li><label><input type="radio" name="q7" value="c"> Australia</label>   
                                                        </li>
                                                        <li><label><input type="radio" name="q7" value="b"> UK</label></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
        
                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title">8. “I expected the manager to have more technical knowledge than he actually did.”</div>
                                                <div class="quizlib-question-answers">
                                                    <ul>
                                                        <li><label><input type="radio" name="q8" value="a"> Russia</label></li>
                                                        <li><label><input type="radio" name="q8" value="b"> South Korea</label></li>
                                                        <li><label><input type="radio" name="q8" value="c"> Australia</label>   
                                                        </li>
                                                        <li><label><input type="radio" name="q8" value="b"> UK</label></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
        
                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title">9. “I dealt with two companies in this country last year. One was really hierarchical, but the other was really modern.”  
                                                </div>
                                                <div class="quizlib-question-answers">
                                                    <ul>
                                                        <li><label><input type="radio" name="q9" value="a"> Russia</label></li>
                                                        <li><label><input type="radio" name="q9" value="b"> South Korea</label></li>
                                                        <li><label><input type="radio" name="q9" value="c"> Australia</label>   
                                                        </li>
                                                        <li><label><input type="radio" name="q9" value="b"> UK</label></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
        
                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title">10. </div>
                                                <div class="quizlib-question-answers">
                                                    <ul>
                                                        <li><label><input type="radio" name="q10" value="a"> Russia</label></li>
                                                        <li><label><input type="radio" name="q10" value="b"> South Korea</label></li>
                                                        <li><label><input type="radio" name="q10" value="c"> Australia</label>   
                                                        </li>
                                                        <li><label><input type="radio" name="q10" value="b"> UK</label></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div> 

                                    <div id="quiz-result" class="card">
                                        You Scored <span id="quiz-percent"></span>% - <span
                                            id="quiz-score"></span>/<span id="quiz-max-score"></span><br />
                                    </div>

                                    <center><button type="button" onclick="showResults(quizCountries);">Check Answers</button>
                                    </center>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="col-lg-2">
                        <div class="sidebar">
                            <div class="sidebar_background"></div>
                            <div class="sidebar_top">Reading - B2</div>
                            <div class="sidebar_content">

                                <br><br><br>


                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title">Talking About Contries
                                        </div>
                                    </div><br>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>



    <footer class="footer">
			<div class="footer_body">
				<div class="container">
					<div class="row">

						<div class="col-lg-3 footer_col">
							<div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
								<div class="footer_logo mb-auto"><a href="#">BEE LEARNER</a></div>
							</div>
						</div>

							
							<div class="col-lg-9 footer_col ">
								<div>
									<div class="footer_title">Help & Support</div>
									<ul class="footer_list">
										<li><a href="#">E-mail</a></li>
										<li><a href="#">bislearning4@gmail.com</a></li>
										
									</ul>
								</div>
							</div>
					</div>
				</div>
			</div>
		</footer>
    </div>

    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap4/popper.js"></script>
    <script src="/bootstrap4/bootstrap.min.js"></script>
    <script src="/easing/easing.js"></script>
    <script src="/parallax-js-master/parallax.min.js"></script>
    <script src="/course.js"></script>
    <script type="text/javascript" src="/quizlib.1.0.1.min.js"></script>
    <script type="text/javascript" src="/quizlib.js"></script>
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>