<!DOCTYPE html>
<html lang="en">

<head>
    <title>Have Something Done</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BEE LEARNER">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/topic.css">
    <link rel="stylesheet" type="text/css" href="/topic_responsive.css">
    <link rel="stylesheet" type="text/css" href="/quizlib.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/quizlib.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen">
</head>

<body>

    <div class="super_container">

        <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">
				<a class="navbar-brand pl-0 pl-lg-5 ml-0 ml-lg-5" href="/index">BEE<br>LEARNER</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto pr-5">
						<li class="nav-item">
							<a class="nav-link" href="/index">Home </a>  
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/grammar">Grammar</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/reading">Reading</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/listening">Listening</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/writing">Writing</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/speaking">Speaking</a>
						</li>
						
					</ul>
					<div class="dropdown-divider"></div>
					<ul class="navbar-nav pr-5 mr-5">
						<li class="nav-item">
							<a class="nav-link" href="/auth/logout">Log Out</a>  
						</li>
					</ul>
		
					<!-- <form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form> -->
				</div>
			</nav><br>


            <div class="title">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="grammar_title"><a href="/grammar">Grammar </a><a href="/grammar_b1"> /
                                    B1</a>
                                / Have Something Done</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="space"></div>

            <div class="course">
                <div class="course_top"></div>
                <div class="container">
                    <div class="row row-lg-eq-height">

                        <div class="col-lg-10">
                            <div class="tab_panels">

                                <div class="course_tabs_container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-9 ">
                                                <div
                                                    class="tabs d-flex flex-row align-items-center justify-content-start">
                                                    <div class="tab active">Have Something Done</div>
                                                    <div class="tab">Exercise</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab_panel description active">
                                    <div class="panel_title">Use</div>
                                    <div class="panel_text">
                                        <div class="panel_subtitle">Someone Does Something For Us</div><br>

                                        <p> We use <strong>have + object + past participle</strong> when we want
                                            to talk about something that someone else does for us, usually because we
                                            pay
                                            them, or because we persuade or ask them to do it. Compare:</p><br>

                                        <ul>
                                            <li>We clean the house every Friday. (=we clean it ourselves)</li>
                                            <li>We <span style="color: #336699;"><strong>have the house
                                                        cleaned</strong></span> every Friday. (=someone else cleans
                                                it for us)</li>
                                        </ul>

                                    </div>
                                    <br><br>
                                    <div class="panel_title">Grammar</div>
                                    <div class="panel_text">
                                        <div class="panel_subtitle">Someone Does Something For Us</div><br>

                                        <p>The verb <strong>have</strong> is not an auxiliary verb in this construction.
                                            We
                                            need to use <strong>did</strong> or <strong>do</strong> for negative
                                            sentences
                                            and questions when there is no auxiliary verb.</p><br>

                                        <ul>
                                            <li>We <span style="color: #336699;"><strong>don&#8217;t</strong></span>
                                                usually <span style="color: #336699;"><strong>have the house
                                                        painted</strong></span>, we do it ourselves. (NOT: <del>We
                                                    haven&#8217;t the house painted</del>)</li>
                                            <li><span style="color: #336699;"><strong>Did</strong></span> you<span
                                                    style="color: #336699;"> <strong>have your house
                                                        painted</strong></span>? It looks great. (NOT: <del>Had you
                                                    your house painted?</del>)</li>
                                        </ul><br>

                                        <p>We can use <strong>have something done</strong> in any verb tense.</p><br>

                                        <ul>
                                            <li>I<span style="color: #336699;"><strong>&#8216;m going to have my hair
                                                        cut</strong></span> tomorrow. </li>
                                            <li>She<span style="color: #336699;"><strong>&#8216;s having her house
                                                        redecorated</strong></span>. </li>
                                            <li>I<span style="color: #336699;"><strong>&#8216;ve had the oil in my car
                                                        changed</strong></span>.</li>
                                            <li>She <span style="color: #336699;"><strong>had her hair
                                                        cut</strong></span> yesterday. </li>
                                        </ul><br>

                                        <div class="panel_subtitle">Negative experiences</div><br>

                                        <p> We can also use <strong>have something done</strong> with a passive
                                            meaning when something bad happens to us.</p><br>

                                        <ul>
                                            <li><em>He <span style="color: #336699;"><strong>had his wallet
                                                            stolen</strong></span> in Piccadilly. </em>(=his wallet was
                                                stolen)</li>
                                            <li><em>They <span style="color: #336699;"><strong>had their house
                                                            destroyed</strong></span> by the fire. </em></li>
                                        </ul><br>

                                        <div class="panel_subtitle">Get something done</div><br>

                                        <p> In informal English, we can use <strong>get + object + past
                                                participle </strong>with the same meaning as <strong>have something
                                                done</strong>.</p><br>

                                        <ul>
                                            <li><em>I need to <span style="color: #336699;"><strong>get my eyes
                                                            tested</strong></span>.</em></li>
                                            <li><em>They<span style="color: #336699;"><strong> got their home rebuilt
                                                        </strong></span>after the earthquake. </em></li>
                                            <li><em>She <span style="color: #336699;"><strong>got her legs
                                                            burned</strong></span> in the fire. </em>(negative
                                                experience)
                                            </li>
                                        </ul><br>
                                        <div class="panel_subtitle">Have someone do something</div><br>

                                        <p> We can use the construction <strong>have + person +
                                                infinitive</strong> with the same meaning as <strong>have something
                                                done</strong>, but in this case we mention the person who is doing
                                            something
                                            for us.</p><br>

                                        <ul>
                                            <li>We <span style="color: #336699;"><strong>are having the architect
                                                        redesign</strong></span> the ground floor. </li>
                                            <li>Susanne <span style="color: #336699;"><strong>had her brother
                                                        prune</strong></span> all the trees. </li>
                                        </ul><br>

                                        <div class="panel_subtitle">Get Someone To Do something</div><br>

                                        <h2></h2>

                                        <p>We can also use the construction <strong>get + someone + to+
                                                infinitive </strong>to talk about someone doing something for us,
                                            because we
                                            are paying them, or because we asked or convinced them to do it. However,
                                            <strong>get someone to do something</strong> often implies the idea that you
                                            have convinced someone to do something.
                                        </p><br>

                                        <ul>
                                            <li>I <span style="color: #336699;"><strong>got a mechanic to take</strong>
                                                </span>a look at the car.</li>
                                            <li>Tom&#8217;s boss<span style="color: #336699;"><strong> got him to
                                                        go</strong></span> to a conference in Germany.</li>
                                        </ul>


                                    </div>

                                    <br><br><br>

                                </div>

                                <div class="tab_panel curriculum">
                                    <div
                                        class="cur_title_container d-flex flex-row align-items-start justify-content-start">
                                        <div class="cur_title">Choose the correct forms to complete the sentences below.
                                        </div>
                                    </div>



                                    <br>
                                    <div id="quiz-have">

                                        <div class="card quizlib-question">
                                            <div class="quizlib-question-title">1. I don't have my watch. I'm _______ at
                                                the shop.</div>
                                            <div class="quizlib-question-answers">
                                                <ul>
                                                    <li><label><input type="radio" name="q1" value="a"> having to repair
                                                            it</label></li>
                                                    <li><label><input type="radio" name="q1" value="b"> having it
                                                            repaired</label></li>
                                                    <li><label><input type="radio" name="q1" value="c"> having it
                                                            repair</label></li>
                                                    <li><label><input type="radio" name="q1" value="d">
                                                            repairing</label></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card quizlib-question">
                                            <div class="quizlib-question-title">2.We need to _______. They are really
                                                dirty.</div>
                                            <div class="quizlib-question-answers">
                                                <ul>
                                                    <li><label><input type="radio" name="q2" value="a"> have the windows
                                                            clean</label></li>
                                                    <li><label><input type="radio" name="q2" value="b"> have the windows
                                                            to clean</label></li>
                                                    <li><label><input type="radio" name="q2" value="c"> get to clean the
                                                            windows</label></li>
                                                    <li><label><input type="radio" name="q2" value="d"> get the windows
                                                            cleaned</label></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card quizlib-question">
                                            <div class="quizlib-question-title">3. I'll get _______ my tires</div>
                                            <div class="quizlib-question-answers">
                                                <ul>
                                                    <li><label><input type="radio" name="q3" value="a"> someone to
                                                            replace</label></li>
                                                    <li><label><input type="radio" name="q3" value="b"> someone
                                                            place</label></li>
                                                    <li><label><input type="radio" name="q3" value="c"> to
                                                            replace</label></li>
                                                    <li><label><input type="radio" name="q3" value="d"> someone
                                                            replacing</label></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card quizlib-question">
                                            <div class="quizlib-question-title">4.I'm _______ by a local dressmaker.
                                            </div>
                                            <div class="quizlib-question-answers">
                                                <ul>
                                                    <li><label><input type="radio" name="q4" value="a"> having my dress
                                                            made</label></li>
                                                    <li><label><input type="radio" name="q4" value="b"> getting to make
                                                            my dress</label></li>
                                                    <li><label><input type="radio" name="q4" value="c"> having my dress
                                                            make</label></li>
                                                    <li><label><input type="radio" name="q4" value="d"> making my
                                                            dress</label></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card quizlib-question">
                                            <div class="quizlib-question-title">5. I _______ at the pub last night.
                                            </div>
                                            <div class="quizlib-question-answers">
                                                <ul>
                                                    <li><label><input type="radio" name="q5" value="a"> had stolen my
                                                            jacket</label></li>
                                                    <li><label><input type="radio" name="q5" value="b"> got my jacket to
                                                            steal</label></li>
                                                    <li><label><input type="radio" name="q5" value="c"> got my jacket
                                                            stolen</label></li>
                                                    <li><label><input type="radio" name="q5" value="d"> stole my
                                                            jacket</label></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card quizlib-question">
                                            <div class="quizlib-question-title">6. We _______ to our house every week.
                                            </div>
                                            <div class="quizlib-question-answers">
                                                <ul>
                                                    <li><label><input type="radio" name="q6" value="a"> have our food to
                                                            delivered</label></li>
                                                    <li><label><input type="radio" name="q6" value="b"> have delivered
                                                            our food</label></li>
                                                    <li><label><input type="radio" name="q6" value="c"> get to deliver
                                                            our food</label></li>
                                                    <li><label><input type="radio" name="q6" value="d"> have our food
                                                            delivered</label></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card quizlib-question">
                                            <div class="quizlib-question-title">7. We should _______ soon. </div>
                                            <div class="quizlib-question-answers">
                                                <ul>
                                                    <li><label><input type="radio" name="q7" value="a"> have our grass
                                                            cut</label></li>
                                                    <li><label><input type="radio" name="q7" value="b"> have to cut our
                                                            grass</label></li>
                                                    <li><label><input type="radio" name="q7" value="c"> got our grass to
                                                            cut</label></li>
                                                    <li><label><input type="radio" name="q7" value="d"> got cut our
                                                            grass</label></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card quizlib-question">
                                            <div class="quizlib-question-title">8. You should have _______ the engine.
                                            </div>
                                            <div class="quizlib-question-answers">
                                                <ul>
                                                    <li><label><input type="radio" name="q8" value="a"> a mechanic
                                                            check</label></li>
                                                    <li><label><input type="radio" name="q8" value="b"> a mechanic to
                                                            check</label></li>
                                                    <li><label><input type="radio" name="q8" value="c"> a mechanic
                                                            checking</label></li>
                                                    <li><label><input type="radio" name="q8" value="d"> a mechanic to
                                                            have checked</label></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card quizlib-question">
                                            <div class="quizlib-question-title">9. We are going to _______ before the
                                                trip. </div>
                                            <div class="quizlib-question-answers">
                                                <ul>
                                                    <li><label><input type="radio" name="q9" value="a"> have the oil to
                                                            change</label></li>
                                                    <li><label><input type="radio" name="q9" value="b"> have changed the
                                                            oil</label></li>
                                                    <li><label><input type="radio" name="q9" value="c"> get the oil
                                                            change</label></li>
                                                    <li><label><input type="radio" name="q9" value="d"> get the oil
                                                            changed</label></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card quizlib-question">
                                            <div class="quizlib-question-title">10. Please, can you _______ the tables
                                                before you leave?</div>
                                            <div class="quizlib-question-answers">
                                                <ul>
                                                    <li><label><input type="radio" name="q10" value="a"> get Tim to
                                                            clean</label></li>
                                                    <li><label><input type="radio" name="q10" value="b"> have Tim
                                                            cleaning</label></li>
                                                    <li><label><input type="radio" name="q10" value="c"> get Tim
                                                            clean</label></li>
                                                    <li><label><input type="radio" name="q10" value="d"> have Tim
                                                            clean</label></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div id="quiz-result" class="card">
                                            You Scored <span id="quiz-percent"></span>% - <span
                                                id="quiz-score"></span>/<span id="quiz-max-score"></span><br />
                                        </div>

                                        <center><button type="button" onclick="showResults(quizHave);">Check
                                                Answers</button></center>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="sidebar">
                                <div class="sidebar_background"></div>
                                <div class="sidebar_top">Topics - B1</div>
                                <div class="sidebar_content">

                                    <br><br><br>


                                    <div class="like_item">
                                        <div class="like_title_container">
                                            <div class="topic_title"><a href="/question_tag">Question Tags</a></div>
                                        </div><br>
                                    </div>

                                    <div class="like_item">
                                        <div class="like_title_container">
                                            <div class="topic_title"><a href="/modal_deduction">Modal Verbs of
                                                    Deduction</a>
                                            </div>
                                        </div><br>
                                    </div>

                                    <div class="like_item">
                                        <div class="like_title_container">
                                            <div class="topic_title"><a href="/indirect_question">Indirect
                                                    Questions</a>
                                            </div>
                                        </div><br>
                                    </div>

                                    <div class="like_item ">
                                        <div class="like_title_container">
                                            <div class="topic_title">Have Something Done</a>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer_body">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 footer_col">
                        <div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
                            <div class="footer_logo mb-auto"><a href="#">BEE LEARNER</a></div>
                        </div>
                    </div>
            

                    <div class="col-lg-9 footer_col ">
                        <div>
                            <div class="footer_title">Help & Support</div>
                            <ul class="footer_list">
                                <li><a href="#">E-mail</a></li>
                                <li><a href="#">bislearning4@gmail.com</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap4/popper.js"></script>
    <script src="/bootstrap4/bootstrap.min.js"></script>
    <script src="/easing/easing.js"></script>
    <script src="/parallax-js-master/parallax.min.js"></script>
    <script src="/course.js"></script>
    <script type="text/javascript" src="/quizlib.1.0.1.min.js"></script>
    <script type="text/javascript" src="/quizlib.js"></script>
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>