<!DOCTYPE html>
<html lang="en">

<head> 
    <title>Indirect Question</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BEE LEARNER">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/topic.css">
    <link rel="stylesheet" type="text/css" href="/topic_responsive.css">
    <link rel="stylesheet" type="text/css" href="/quizlib.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/quizlib.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen">
</head>

<body>

    <div class="super_container">

        <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">
				<a class="navbar-brand pl-0 pl-lg-5 ml-0 ml-lg-5" href="/index">BEE<br>LEARNER</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto pr-5">
						<li class="nav-item">
							<a class="nav-link" href="/index">Home </a>  
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/grammar">Grammar</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/reading">Reading</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/listening">Listening</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/writing">Writing</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/speaking">Speaking</a>
						</li>
						
					</ul>
					<div class="dropdown-divider"></div>
					<ul class="navbar-nav pr-5 mr-5">
						<li class="nav-item">
							<a class="nav-link" href="/auth/logout">Log Out</a>  
						</li>
					</ul>
		
					<!-- <form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form> -->
				</div>
			</nav><br>

        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="grammar_title"><a href="/grammar">Grammar </a><a href="/grammar_b1"> /
                                B1</a>
                            / Indirect Questions</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space"></div>

        <div class="course">
            <div class="course_top"></div>
            <div class="container">
                <div class="row row-lg-eq-height">

                    <div class="col-lg-10">
                        <div class="tab_panels">

                            <div class="course_tabs_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9 ">
                                            <div class="tabs d-flex flex-row align-items-center justify-content-start">
                                                <div class="tab active">Indirect Questions</div>
                                                <div class="tab">Exercise</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab_panel description active">
                                <div class="panel_title">Use</div>
                                <div class="panel_text">
                                        <p> We normally use <strong>indirect questions</strong>, when we want to
                                            be more polite. We begin the question with expressions such as <strong>Can you
                                                tell me …? Could you tell me …? Do you know …? Would you mind telling me … ?
                                            </strong></p>
                                            <ul>
                                                    <li>What time is it? (direct question)</li>
                                                    <li><span style="color: #336699;"><strong>Could you tell me</strong></span>
                                                            what time it is? (indirect question)</li>
                                                </ul><br>
                                </div>
                                <br><br>
                                <div class="panel_title">Grammar</div>
                                <div class="panel_text">

                                    

                                    <p>In indirect questions the order is subject + verb.</p><br>

                                    <ul>
                                        <li>Do you know where <span style="color: #336699;"><strong>I
                                                        can</strong></span> find a bank? (NOT … <del>where can I
                                                find</del>)</li>
                                        <li>Can you tell me what time<span style="color: #336699;"><strong> the
                                                        shops close</strong></span>? (NOT … <del>what time do the
                                                shops close</del>)</li>
                                    </ul><br>
                                    <p>There are other expressions that follow the same rule:</p><br>

                                    <ul>
                                        <li><span style="color: #336699;"><strong>I don’t know</strong></span> what
                                                he is doing here. </li>
                                        <li><span style="color: #336699;"><strong>I wonder</strong></span> when he
                                                will find the truth.</li>
                                        <li><span style="color: #336699;"><strong>I’m not sure</strong></span> when
                                                I can come. </li>
                                        <li><span style="color: #336699;"><strong>I’d like to
                                                        know</strong></em></span> where you left the documents.
                                           </li>
                                    </ul><br>

                                    <p>For <strong>yes-no questions</strong> (when there is NO question word), we can
                                        use both <strong>if</strong> or <strong>whether</strong>:</p><br>
                                    <ul>
                                        <li>Do you know <span
                                                    style="color: #336699;"><strong>if</strong></span>/<span
                                                    style="color: #336699;"><strong>whether</strong></span> he’ll be
                                                here soon?</li>
                                    </ul>


                                </div>

                                <br><br><br>
                              

                            </div>

                            <div class="tab_panel curriculum">
                                <div
                                            class="cur_title_container d-flex flex-row align-items-start justify-content-start">
                                            <div class="cur_title">Choose the correct forms to complete the sentences below.</div>
                            </div>
                                            
                                           <br>
                                           <div id="quiz-indirect">
                                               
                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">1. I don't know the answer. How many times _____ to tell you?</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q1" value="a"> do I have</label></li>
                                                            <li><label><input type="radio" name="q1" value="b"> I have</label></li>
                                                            <li><label><input type="radio" name="q1" value="c"> I do have</label></li>
                                                           
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">2. I don't know _____ so unhappy.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q2" value="a"> why he's always </label></li>
                                                            <li><label><input type="radio" name="q2" value="b"> whether is he always</label></li>
                                                            <li><label><input type="radio" name="q2" value="c"> why is he always</label></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">3. Do you have any idea when _____ ?</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q3" value="a"> will the results be published</label></li>
                                                            <li><label><input type="radio" name="q3" value="b"> will be the results published</label></li>
                                                            <li><label><input type="radio" name="q3" value="c"> the results will be published</label></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">4. How many people _____ for the party?</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q4" value="a"> did you call</label></li>
                                                            <li><label><input type="radio" name="q4" value="b"> you called</label></li>
                                                            <li><label><input type="radio" name="q4" value="c"> called you</label></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">5. I wonder _____.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q5" value="a"> how long this cold weather will last</label></li>
                                                            <li><label><input type="radio" name="q5" value="b"> how this cold weather will last</label></li>
                                                            <li><label><input type="radio" name="q5" value="c"> how long will this cold weather last</label></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">6. Did she tell you how often _____ ?</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q6" value="a"> do you take the vitamins</label></li>
                                                            <li><label><input type="radio" name="q6" value="b"> should you take the vitamins</label></li>
                                                            <li><label><input type="radio" name="q6" value="c"> you should take the vitamins</label></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">7. I'd like to know _____ for the experiment.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q7" value="a"> whether I can use the new product</label></li>
                                                            <li><label><input type="radio" name="q7" value="b"> whether can I use the new product</label></li>
                                                            <li><label><input type="radio" name="q7" value="c"> if can I use the new product</label></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">8. Could you tell me why _____ ?</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q8" value="a"> you are leaving</label></li>
                                                            <li><label><input type="radio" name="q8" value="b"> are you leaving</label></li>
                                                            <li><label><input type="radio" name="q8" value="c"> do you leave</label></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">9.Can I ask you how long _____ here?</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q9" value="a"> have you been living</label></li>
                                                            <li><label><input type="radio" name="q9" value="b"> have you lived </label></li>
                                                            <li><label><input type="radio" name="q9" value="c"> you have been living</label></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
 
                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">10. Why _____ ? </div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q10" value="a"> I shouldn't call her</label></li>
                                                            <li><label><input type="radio" name="q10" value="b"> shouldn't I call her</label></li>
                                                            <li><label><input type="radio" name="q10" value="c"> I wouldn't call her</label></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                               
                                                <div id="quiz-result" class="card">
                                                        You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span id="quiz-max-score"></span><br/>
                                                    </div>
                                                    
                                                
                                                <center><button type="button" onclick="showResults(quizIndirect);">Check Answers</button></center>
                                            </div>  
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="sidebar">
                            <div class="sidebar_background"></div>
                            <div class="sidebar_top">Topics - B1</div>
                            <div class="sidebar_content">

                                <br><br><br>

                                <div class="like_item">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/question_tag">Question Tags</a></div>
                                    </div><br>
                                </div>

                                <div class="like_item">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/modal_deduction">Modal Verbs of
                                                Deduction</a>
                                        </div>
                                    </div><br>
                                </div>

                                <div class="like_item">
                                    <div class="like_title_container">
                                        <div class="topic_title">Indirect Questions
                                        </div>
                                    </div><br>
                                </div>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/have_something">Have Something Done</a>
                                        </div>
                                    </div><br>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <footer class="footer">
			<div class="footer_body">
				<div class="container">
					<div class="row">

						<div class="col-lg-3 footer_col">
							<div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
								<div class="footer_logo mb-auto"><a href="#">BEE LEARNER</a></div>
							</div>
						</div>

							
							<div class="col-lg-9 footer_col ">
								<div>
									<div class="footer_title">Help & Support</div>
									<ul class="footer_list">
										<li><a href="#">E-mail</a></li>
										<li><a href="#">bislearning4@gmail.com</a></li>
										
									</ul>
								</div>
							</div>
					</div>
				</div>
			</div>
		</footer>
    </div>

    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap4/popper.js"></script>
    <script src="/bootstrap4/bootstrap.min.js"></script>
    <script src="/easing/easing.js"></script>
    <script src="./parallax-js-master/parallax.min.js"></script>
    <script src="/course.js"></script>
    <script type="text/javascript" src="/quizlib.1.0.1.min.js"></script>
    <script type="text/javascript" src="/quizlib.js"></script>
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>