<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mixed Conditionals</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BEE LEARNER">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/topic.css">
    <link rel="stylesheet" type="text/css" href="/topic_responsive.css">
    <link rel="stylesheet" type="text/css" href="/quizlib.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/quizlib.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen">
</head>

<body>

    <div class="super_container">

        <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">
				<a class="navbar-brand pl-0 pl-lg-5 ml-0 ml-lg-5" href="/index">BEE<br>LEARNER</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto pr-5">
						<li class="nav-item">
							<a class="nav-link" href="/index">Home </a>  
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/grammar">Grammar</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/reading">Reading</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/listening">Listening</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/writing">Writing</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/speaking">Speaking</a>
						</li>
						
					</ul>
					<div class="dropdown-divider"></div>
					<ul class="navbar-nav pr-5 mr-5">
						<li class="nav-item">
							<a class="nav-link" href="/auth/logout">Log Out</a>  
						</li>
					</ul>
		
					<!-- <form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form> -->
				</div>
			</nav><br>


        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="grammar_title"><a href="/grammar">Grammar </a><a href="/grammar_b2"> /
                                B2</a>
                            / Mixed Conditionals</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space"></div>

        <div class="course">
            <div class="course_top"></div>
            <div class="container">
                <div class="row row-lg-eq-height">

                    <div class="col-lg-10">
                        <div class="tab_panels">


                            <div class="course_tabs_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9 ">
                                            <div class="tabs d-flex flex-row align-items-center justify-content-start">
                                                <div class="tab active">Mixed Conditionals</div>
                                                <div class="tab">Exercise</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
 

                            <div class="tab_panel description active">
                                <div class="panel_title">Use</div>
                                <div class="panel_text">
                                    <p> Mixed conditionals are a combination of two types of conditional
                                        patterns, usually second and third conditionals.
                                        We can have a third conditional in the <strong>if</strong> clause and a second
                                        conditional in the main clause or a second conditional in the
                                        <strong>if</strong> clause and a third conditional in the main clause.</p>

                                </div>
                                <br><br>
                                <div class="panel_title">Grammar</div>
                                <div class="panel_text">

                                    <div class="panel_subtitle">Second and third conditionals</div><br>

                                    <p>In a second conditional we use past in the <strong>if</strong>
                                        clause and <strong>would/might/could + infinitive </strong>in the main clause.
                                        It is used to talk about hypothetical situations happening in the
                                        <strong>present or future</strong>.</p><br>

                                    <ul>
                                        <li>If I <strong><span style="color: #336699;">were</span></strong> rich,
                                                I<span style="color: #336699;"><strong>&#8216;d buy</strong></span> that
                                                house.</li>
                                    </ul><br>

                                    <p>In a third conditional we use past perfect in the <strong>if</strong> clause and
                                        <strong>would/might/could + have + past participle </strong>in the main clause.
                                        It is used to talk about hypothetical situations happening in the
                                        <strong>past</strong>.</p><br>

                                    <ul>
                                        <li>If you <span style="color: #336699;"><strong>had studied</strong></span>
                                                more, you <strong><span style="color: #336699;">would have
                                                        passed</span></strong> the exam. </li>
                                    </ul><br>

                                    <p>A mixed conditional is a combination of second and third conditionals.</p><br>

                                    <div class="panel_subtitle">Mixed third/second conditional</div><br>

                                    <p>We use this combination to talk about a hypothetical condition
                                        happening in the past (third conditional) with a present result (second
                                        conditional). We use past perfect in the <strong>if</strong> clause and
                                        <strong>would/could/might + infinitive</strong> in the main clause.</p><br>

                                    <ul>
                                        <li>If I <span style="color: #336699;"><strong>had been
                                                        elected</strong></span>, I <span
                                                    style="color: #336699;"><strong>would be</strong></span> the
                                                president now. </li>
                                        <li>If I<span style="color: #336699;"><strong> had won</strong></span> the
                                                lottery, I <span style="color: #336699;"><strong>would
                                                        be</strong></span> rich.</li>
                                        <li>I <span style="color: #336699;"><strong>might have</strong></span> a
                                                better job now if I <span style="color: #336699;"><strong>hadn’t
                                                        dropped</strong> </span>out of school.</li>
                                    </ul><br>
                                    
                                    <div class="panel_subtitle">Mixed second/third conditional</div><br>
                                    

                                    <p>We use this combination to talk about a hypothetical condition
                                        happening in the present (second conditional) with a past result (third
                                        conditional). We use past in the <strong>if</strong> clause and
                                        <strong>would/could/might + have + past participle</strong> in the main clause.
                                    </p><br>

                                    <ul>
                                        <li>If I <span style="color: #336699;"><strong>were</strong></span> a man,
                                                they <span style="color: #336699;"><strong>would have
                                                        given</strong></span> me the job. </li>
                                        <li>If I <span style="color: #336699;"><strong>didn’t have</strong></span>
                                                so much work, I <span style="color: #336699;"><strong>would have
                                                        gone</strong></span> to the party last night.</li>
                                        <li>I <span style="color: #336699;"><strong>would have
                                                        understood</strong></span> them if I <span
                                                    style="color: #336699;"><strong>spoke</strong></span> German.
                                        </li>
                                    </ul><br>

                                    <p>That in this type of combination, the
                                        present condition also existed in the past, when the result in the main clause
                                        took place. Let&#8217;s take a look, for example, at the first sentence:</p><br>

                                    <ul>
                                        <li>If I <span style="color: #336699;"><strong>were</strong></span> a man,
                                                they <span style="color: #336699;"><strong>would have
                                                        given</strong></span> me the job. </li>
                                    </ul><br>

                                    <p>If I were a man now would mean that I would also have been a man in the past,
                                        when I was not given the job. As I&#8217;m not a man now (which implies that I
                                        wasn&#8217;t a man when I applied for the job either), I didn&#8217;t get the
                                        job.</p>

                                </div>

                                <br><br><br>


                            </div>

                            <div class="tab_panel curriculum">
                                <div
                                            class="cur_title_container d-flex flex-row align-items-start justify-content-start">
                                            <div class="cur_title">Choose the correct forms to complete the sentences below.</div>
                                        </div>
                                       
                                            
                                            
                                           <br>
                                            <div id="quiz-mixed">
                                               
                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">1. He says he's your friend, but he didn't help you. If he were your friend, he _____ you.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q1" value="a"> had helped</label></li>
                                                            <li><label><input type="radio" name="q1" value="b"> would have helped</label></li>
                                                            <li><label><input type="radio" name="q1" value="c"> would help</label></li>
                                                            <li><label><input type="radio" name="q1" value="d"> helped</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">2. I feel fine because I took the medicine. If I _____ the medicine, I would still be in pain.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q2" value="a"> wouldn´t take</label></li>
                                                            <li><label><input type="radio" name="q2" value="b"> would have taken</label></li>
                                                            <li><label><input type="radio" name="q2" value="c"> didn't take</label></li>
                                                            <li><label><input type="radio" name="q2" value="d"> hadn´t taken</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">3. I'm not patient and I didn't wait for them. If I was more patient, I _____ for them. </div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q3" value="a"> would wait</label></li>
                                                            <li><label><input type="radio" name="q3" value="b"> would have waited</label></li>
                                                            <li><label><input type="radio" name="q3" value="c"> waited</label></li>
                                                            <li><label><input type="radio" name="q3" value="d"> had waited</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">4. I didn't know that you were there because I'm not a psychic. I _____ that you were there if I was a psychic.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q4" value="a"> would have known</label></li>
                                                            <li><label><input type="radio" name="q4" value="b"> had known</label></li>
                                                            <li><label><input type="radio" name="q4" value="c"> would know</label></li>
                                                            <li><label><input type="radio" name="q4" value="d"> knew</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">5. I am where I am today because you helped me. I _____ where I am today if you hadn't helped me.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q5" value="a"> wouldn´t have been</label></li>
                                                            <li><label><input type="radio" name="q5" value="b"> hadn´t been</label></li>
                                                            <li><label><input type="radio" name="q5" value="c"> weren't</label></li>
                                                            <li><label><input type="radio" name="q5" value="d"> wouldn´t be</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">6. I should be your coach. If I _____ your coach, you would have won many more trophies.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q6" value="a"> was</label></li>
                                                            <li><label><input type="radio" name="q6" value="b"> had been</label></li>
                                                            <li><label><input type="radio" name="q6" value="c"> would be</label></li>
                                                            <li><label><input type="radio" name="q6" value="d"> would have been</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">7. If I was ill, I _____ to work yesterday. </div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q7" value="a"> wouldn´t have gone</label></li>
                                                            <li><label><input type="radio" name="q7" value="b"> wouldn't go</label></li>
                                                            <li><label><input type="radio" name="q7" value="c"> hadn´t gone</label></li>
                                                            <li><label><input type="radio" name="q7" value="d"> didn´t go</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">8. If he hadn't been wearing a helmet, he _____ dead now.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q8" value="a"> might be</label></li>
                                                            <li><label><input type="radio" name="q8" value="b"> might have been</label></li>
                                                            <li><label><input type="radio" name="q8" value="c"> were</label></li>
                                                            <li><label><input type="radio" name="q8" value="d"> had been</label></li>
                                                        </ul>
                                                    </div>
                                                </div> 

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">9. I didn't understand his letter because I don't speak Russian. If I _____ Russian, I would have understood his letter. </div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q9" value="a"> would speak</label></li>
                                                            <li><label><input type="radio" name="q9" value="b"> would have spoken</label></li>
                                                            <li><label><input type="radio" name="q9" value="c"> spoke</label></li>
                                                            <li><label><input type="radio" name="q9" value="d"> had spoken</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">10. I'm tired because I went to bed late. If I hadn't gone to bed so late, I _____ tired now.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q10" value="a"> wouldn´t have been</label></li>
                                                            <li><label><input type="radio" name="q10" value="b"> wouldn't be</label></li>
                                                            <li><label><input type="radio" name="q10" value="c"> weren´t</label></li>
                                                            <li><label><input type="radio" name="q10" value="d"> hadn't been</label></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                               
                                                <div id="quiz-result" class="card">
                                                        You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span id="quiz-max-score"></span><br/>
                                                    </div>
                                                
                                                <center><button type="button" onclick="showResults(quizMixed);">Check Answers</button></center>
                                            </div>  
                            </div>


                        </div>
                    </div>


                    <div class="col-lg-2">
                        <div class="sidebar">
                            <div class="sidebar_background"></div>
                            <div class="sidebar_top">Topics - B2</div>
                            <div class="sidebar_content">

                                <br><br><br>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/wishes_regrets">Wishes and Regrets</a>
                                        </div>
                                    </div><br>
                                </div>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/adjectives_noun">Adjectives Without
                                                Noun</a>
                                        </div>
                                    </div><br>
                                </div>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title">Mixed Conditionals
                                        </div>
                                    </div><br>
                                </div>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/speculation">Speculation And Deduction</a>
                                        </div>
                                    </div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>



    <footer class="footer">
			<div class="footer_body">
				<div class="container">
					<div class="row">

						<div class="col-lg-3 footer_col">
							<div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
								<div class="footer_logo mb-auto"><a href="#">BEE LEARNER</a></div>
							</div>
						</div>
    
							
							<div class="col-lg-9 footer_col ">
								<div>
									<div class="footer_title">Help & Support</div>
									<ul class="footer_list">
										<li><a href="#">E-mail</a></li>
										<li><a href="#">bislearning4@gmail.com</a></li>
										
									</ul>
								</div>
							</div>
					</div>
				</div>
			</div>
		</footer>
    </div>

    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap4/popper.js"></script>
    <script src="/bootstrap4/bootstrap.min.js"></script>

    <script src="/easing/easing.js"></script>
    <script src="/parallax-js-master/parallax.min.js"></script>

    <script src="/course.js"></script>
    <script type="text/javascript" src="/quizlib.1.0.1.min.js"></script>
    <script type="text/javascript" src="/quizlib.js"></script>
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>