<!DOCTYPE html>
<html lang="en">

<head>
    <title>Singular And Plural</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BEE LEARNER">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/topic.css">
    <link rel="stylesheet" type="text/css" href="/topic_responsive.css">
    <link rel="stylesheet" type="text/css" href="/quizlib.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/quizlib.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen">
</head>

<body>

    <div class="super_container">

       <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">
				<a class="navbar-brand pl-0 pl-lg-5 ml-0 ml-lg-5" href="/index">BEE<br>LEARNER</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto pr-5">
						<li class="nav-item ">
							<a class="nav-link" href="/index">Home </a>  
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/grammar">Grammar</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/reading">Reading</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/listening">Listening</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/writing">Writing</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/speaking">Speaking</a>
						</li>
						
					</ul>
					<div class="dropdown-divider"></div>
					<ul class="navbar-nav pr-5 mr-5">
						<li class="nav-item">
							<a class="nav-link" href="/auth/logout">Log Out</a>  
						</li>
					</ul>
		
					<!-- <form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form> -->
				</div>
			</nav><br>

        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="grammar_title"><a href="/grammar">Grammar </a><a href="/grammar_a1"> /
                                A1</a>
                            / Singular And Plural</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space"></div>

        <div class="course">
            <div class="course_top"></div>
            <div class="container">
                <div class="row row-lg-eq-height">

                    <div class="col-lg-10">
                        <div class="tab_panels">

                            <div class="course_tabs_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9 ">
                                            <div class="tabs d-flex flex-row align-items-center justify-content-start">
                                                <div class="tab active">Singular And Plural</div>
                                                <div class="tab">Exercise</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab_panel description active">
                                <div class="panel_title">Use</div>
                                <div class="panel_text">

                                

                                    <p>“A” is used before words starting in consonant sounds and “an” is used before words 
                                        starting with vowel sounds. It doesn't matter if the word is an adjective, a noun, 
                                        an adverb, or anything else; the rule is exactly the same.</p>


                                </div>
                                <br><br>
                                <div class="panel_title">Grammar</div>
                                <div class="panel_text">


                                    <div class="panel_subtitle">A/An</div><br>

                                    <p>We use <strong>a/an</strong> with singular nouns.</p><br>

                                    <ul>
                                        <li>This is <span style="color: #336699;"><strong>a table</strong></span>.
                                           </li>
                                        <li>It&#8217;s <span style="color: #336699;"><strong>an
                                                        orange</strong></span>. </li>
                                    </ul><br>

                                    <p>We use <strong>a</strong> with nouns beginning with a consonant, and we use
                                        <strong>an</strong> with nouns beginning with a vowel (a, e, i, o, u).</p><br>

                                    <ul>
                                        <li>Give me <span style="color: #336699;"><strong>an a</strong></span>pple.
                                            </li>
                                        <li>There is <span style="color: #336699;"><strong>an
                                                        e</strong></span>lephant in the zoo.</li>
                                        <li>It&#8217;s <span style="color: #336699;"><strong>an
                                                        a</strong></span>mazing experience. </li>
                                    </ul><br>

                                    <p>We also use <strong>an</strong> with nouns beginning with <strong>h</strong> if
                                        the <strong>h </strong>is not pronounced. But we use <strong>a</strong> if the
                                        <strong>h </strong>is pronounced.</p><br>

                                    <ul>
                                        <li>Give me <span style="color: #336699;"><strong>an
                                                        h</strong></span>our. (The <strong>h </strong>is not
                                            pronounced in <strong><del>h</del>our</strong>.)</li>
                                        <li>I want to buy <span style="color: #336699;"><strong>a
                                                        h</strong></span>at. (The <strong>h </strong>is pronounced
                                            in <strong>hat</strong>.)</li>
                                    </ul><br>

                                    <p>We use <strong>a</strong> and NOT <strong>an</strong> with nouns beginning with
                                        <strong>u </strong>when it is pronounced /ju:/, like <strong>university.
                                        </strong></p><br>

                                    <ul>
                                        <li>Is there <span style="color: #336699;"><strong>a
                                                        u</strong></span>niversity in this city? </li>
                                        <li>I wear <span style="color: #336699;"><strong>a u</strong></span>niform.
                                            </li>
                                    </ul><br>
                                    
                                    <div class="panel_subtitle">Plurals in English</div><br>
                                    
                                    <div class="panel_subtitle">-A Tables</div><br>
                    

                                    <p>We do NOT use <strong>a/an</strong> with plural nouns.</p><br>

                                    <ul>
                                        <li>These are <span
                                                    style="color: #336699;"><strong>tables</strong></span></em><span
                                                style="color: #000000;">. (NOT <del>a tables</del>)</span></li>
                                    </ul><br>

                                    <div class="panel_subtitle">Regular Plurals</div><br>
                                    

                                    <p>We add <strong>-s </strong>to make plural nouns in English.
                                        Sometimes we need to add <strong>-es</strong>, <strong>-ies</strong> or
                                        &#8211;<strong>ves</strong>. Check the spelling in the grammar chart
                                        above.</p><br>

                                        <div class="panel_subtitle">Irregular Plurals</div><br>
                                    
                                    <p>Some words have irregular plurals and do NOT add <strong>-s
                                        </strong>to make their plural form.</p>
                                </div>

                                <br><br><br>

                            </div>

                            <div class="tab_panel curriculum">


                                <div
                                    class="cur_title_container d-flex flex-row align-items-start justify-content-start">
                                    <div class="cur_title">Choose the correct forms to complete the sentences below.
                                    </div>
                                </div>

                                

                                <br>
                                <div id="quiz-singular">

                                        <div class="card quizlib-question">
                                                <div class="quizlib-question-title"><div class="quizlib-question-answers">1. There is<input type="text" name="q1"> green English book on the desk</div>
                                                
                                                   
                                                    
                                                </div>
                                            </div>

                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title"><div class="quizlib-question-answers">2. She's reading<input type="text" name="q2"> on old</div>
                                                
                                                    
                                                </div>
                                            </div>

                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title"><div class="quizlib-question-answers"> 3. They've got<input type="text" name="q3"> idea</div>
                                                
                                                   
                                                    
                                                    
                                                </div>
                                            </div>

                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title"> <div class="quizlib-question-answers"> 4. He is drinking cup of <input type="text" name="q4"> coffee.</div>
                                               
                                                    
                                                </div>
                                            </div>

                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title"><div class="quizlib-question-answers"> 5.The girl is<input type="text" name="q5"> pilot.</div>
                                                
                                                    
                                                    
                                                    
                                                </div>
                                            </div>

                                            <div class="card quizlib-question">
                                                <div class="quizlib-question-title"><div class="quizlib-question-answers"> 6. Leipzig has<input type="text" name="q6"> airport. </div>
                                                
                                                   
                                                </div>
                                            </div>
                                            <div class="card quizlib-question">
                                                    <div class="quizlib-question-title"><div class="quizlib-question-answers"> 7. This is<input type="text" name="q7"> expensive bike.</div>
                                                    
                                                       
                                                        
                                                        
                                                    </div>
                                                </div>
    
                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title"> <div class="quizlib-question-answers"> 8. Look! There's<input type="text" name="q8"> bird flying.</div>
                                                   
                                                        
                                                    </div>
                                                </div>
    
                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title"><div class="quizlib-question-answers"> 9.My Father is<input type="text" name="q9"> honest person.</div>
                                                    
                                                        
                                                        
                                                        
                                                    </div>
                                                </div>
    
                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title"><div class="quizlib-question-answers"> 10. My friends likes to be<input type="text" name="q10"> astrounant. </div>
                                                    
                                                       
                                                    </div>
                                                </div>

                                            <div id="quiz-result" class="card">
                                                    You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span
                                                        id="quiz-max-score"></span><br />
                                                </div>
 
                                    <center><button type="button" onclick="showResults(quizSingular);">Check Answers</button>
                                    </center>
                                </div>



                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="sidebar">
                            <div class="sidebar_background"></div>
                            <div class="sidebar_top">Topics - A1</div>
                            <div class="sidebar_content">

                                <br><br><br>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/to_be">Verb To Be</a>
                                        </div>
                                    </div><br>
                                </div>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/this_that">This, That, These, Those</a>
                                        </div>
                                    </div><br>
                                </div>
                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/possessive">Possessive Adjectives</a>
                                        </div>
                                    </div><br>
                                </div>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title">Singular And Plural
                                        </div>
                                    </div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <footer class="footer">
			<div class="footer_body">
				<div class="container">
					<div class="row">

						<div class="col-lg-3 footer_col">
							<div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
								<div class="footer_logo mb-auto"><a href="#">BEE LEARNER</a></div>
							</div>
						</div>
            
							
							<div class="col-lg-9 footer_col ">
								<div>
									<div class="footer_title">Help & Support</div>
									<ul class="footer_list">
										<li><a href="#">E-mail</a></li>
										<li><a href="#">bislearning4@gmail.com</a></li>
										
									</ul>
								</div>
							</div>
					</div>
				</div>
			</div>
		</footer>
    </div>

    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap4/popper.js"></script>
    <script src="/bootstrap4/bootstrap.min.js"></script>
    <script src="/easing/easing.js"></script>
    <script src="/parallax-js-master/parallax.min.js"></script>
  
    <script src="/course.js"></script>
    <script type="text/javascript" src="/quizlib.1.0.1.min.js"></script>
    <script type="text/javascript" src="/quizlib.js"></script>
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>