<!DOCTYPE html>
<html lang="en">

<head>
    <title>Speculation And Deduction</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BEE LEARNER">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/topic.css">
    <link rel="stylesheet" type="text/css" href="/topic_responsive.css">
    <link rel="stylesheet" type="text/css" href="/quizlib.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/quizlib.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen">
</head>

<body>

    <div class="super_container">

       <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">
				<a class="navbar-brand pl-0 pl-lg-5 ml-0 ml-lg-5" href="/index">BEE<br>LEARNER</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto pr-5">
						<li class="nav-item">
							<a class="nav-link" href="/index">Home </a>  
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/grammar">Grammar</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/reading">Reading</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/listening">Listening</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/writing">Writing</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/speaking">Speaking</a>
						</li>
						
					</ul>
					<div class="dropdown-divider"></div>
					<ul class="navbar-nav pr-5 mr-5">
						<li class="nav-item">
							<a class="nav-link" href="/auth/logout">Log Out</a>  
						</li>
					</ul>
		
					<!-- <form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form> -->
				</div>
			</nav><br>


        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="grammar_title"><a href="/grammar">Grammar </a><a href="/grammar_b2"> /
                                B2</a>
                            / Speculation And Deduction</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space"></div>

        <div class="course">
            <div class="course_top"></div>
            <div class="container">
                <div class="row row-lg-eq-height">

                    <div class="col-lg-10">
                        <div class="tab_panels">


                            <div class="course_tabs_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9 ">
                                            <div class="tabs d-flex flex-row align-items-center justify-content-start">
                                                <div class="tab active">Speculation And Deduction</div>
                                                <div class="tab">Exercise</div>

                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>


                            <div class="tab_panel description active">
                                <div class="panel_title">Use</div>
                                <div class="panel_text">
                                    <p> We can use certain modal auxiliary verbs to make deductions, i.e. to make guesses based on known facts.</p>

                                </div>
                                <br><br>
                                <div class="panel_title">Grammar</div>
                                <div class="panel_text">

                                    <div class="panel_subtitle">Must</div><br>

                                    <p> We use <strong>must + infinitive</strong> for obligation and strong
                                        recommendation, but also to say that we are <strong>quite sure that something is
                                            true</strong>.</p><br>

                                    <ul>
                                        <li>They are almost identical. They <span
                                                    style="color: #336699;"><strong>must</strong>
                                                    <strong>be</strong></span> sisters.</li>
                                        <li>But I answered all the questions correctly. There <span
                                                    style="color: #336699;"><strong>must be</strong></span> a mistake.
                                            </li>
                                    </ul><br>

                                    <p>We use <strong>must be</strong> + &#8211;<strong>ing</strong> with dynamic verbs
                                        to say that we are quite<strong> sure that something is happening now</strong>.
                                    </p><br>

                                    <ul>
                                        <li><em>What you are saying is not possible. You <span
                                                    style="color: #336699;"><strong>must be kidding</strong></span>.
                                            </em></li>
                                        <li><em>Can you hear the shouting? Our neighbours <span
                                                    style="color: #336699;"><strong>must be arguing</strong></span>
                                                again. </em></li>
                                    </ul>

                                    <p>We use <strong>must have + past participle</strong> or <strong>must have been +
                                            -ing</strong> to say that we are quite sure that something <strong>was true
                                            or happened in the past</strong>.</p>

                                    <ul>
                                        <li><em>I can&#8217;t find my wallet! I <span
                                                    style="color: #336699;"><strong>must have dropped</strong></span> it
                                                in the taxi.</em></li>
                                        <li><em>You <span style="color: #336699;"><strong>must have had
                                                    </strong></span>a real scare when you saw the crocodile. </em></li>
                                        <li><em>He was the only victim. He <span style="color: #336699;"><strong>must
                                                        have been sleeping </strong></span>when the fire started.</em>
                                        </li>
                                    </ul><br>

                                    <div class="panel_subtitle">Can&#8217;t</div><br>
                                    

                                    <p>We can use <strong>can&#8217;t + infinitive</strong> to say that we
                                        are <strong>quite sure that something is NOT true</strong>.</p><br>

                                    <ul>
                                        <li>He <span style="color: #336699;"><strong>can&#8217;t be</strong></span>
                                                that famous. I&#8217;ve never heard his name before. </li>
                                        <li>She <span style="color: #336699;"><strong>can&#8217;t be</strong></span>
                                                married. I have never seen a ring on her finger. </li>
                                    </ul><br>

                                    <p>We use <strong>can&#8217;t be</strong> + &#8211;<strong>ing</strong> to say that
                                        we are quite<strong> sure that something is NOT happening now</strong>.</p><br>

                                    <ul>
                                        <li>They <span style="color: #336699;"><strong>can&#8217;t be
                                                        travelling</strong></span> by bus. There is no bus service on
                                                Sundays. </li>
                                    </ul><br>

                                    <p>We use <strong>can&#8217;t/couldn&#8217;t have + past participle </strong> or
                                        <strong>can&#8217;t have been + -ing</strong> to say that we are <strong>quite
                                            sure that something did NOT happen or was NOT true in the past</strong>.</p><br>

                                    <ul>
                                        <li>You <strong><span style="color: #336699;">can&#8217;t</span><span
                                                        style="color: #336699;">/couldn&#8217;t have
                                                        seen</span></strong> John last night. He was in hospital. 
                                        </li>
                                        <li>She <strong><span style="color: #336699;">can&#8217;t</span><span
                                                        style="color: #336699;">/couldn&#8217;t</span></strong><strong><span
                                                        style="color: #336699;"> have passed</span></strong> the test.
                                                She didn&#8217;t even open the books. </li>
                                    </ul><br>

                                    <p><span class="highlighter">Note</span> that for negative deduction we use
                                        <strong>can&#8217;t</strong> and NOT <strong><del>mustn&#8217;t</del></strong>
                                    </p><br>

                                    <ul>
                                        <li>He<span style="color: #336699;"> <strong>can&#8217;t be</strong></span>
                                                that famous. (NOT <del>He mustn&#8217;t be that
                                                    famous</del>.)</li>
                                    </ul><br>

                                    <div class="panel_subtitle">Could/might/May</div><br>
                                    
                                    
                                    <p>We can use <strong>could/might/may + infinitive</strong> to say that
                                        <strong>it&#8217;s possible that something is true </strong>(but we are not
                                        sure).</p><br>

                                    <ul>
                                        <li>I can&#8217;t get hold of him on the phone. He <strong><span
                                                        style="color: #336699;">could</span><i><span
                                                            style="color: #336699;">/might</span><span
                                                            style="color: #336699;">/may</span></i></strong><span
                                                    style="color: #336699;"><strong> be</strong></span> away. </li>
                                        <li><i>We didn&#8217;t do anything when we could and now it <strong><span
                                                            style="color: #336699;">could</span><span
                                                            style="color: #336699;">/might</span><span
                                                            style="color: #336699;">/may</span></strong><strong><span
                                                            style="color: #336699;"> be</span> </strong>too
                                                    late.</i></li>
                                    </ul><br>

                                    <p>We use <strong>could/might/may</strong><strong> be</strong> +
                                        &#8211;<strong>ing</strong> to say that we are quite<strong> it&#8217;s possible
                                            that something is happening now </strong>(but we are not sure).</p><br>

                                    <ul>
                                        <li>Tom isn&#8217;t at the office. He<i> <strong><span
                                                            style="color: #336699;">might</span><span
                                                            style="color: #336699;">/may</span></strong></i><span
                                                    style="color: #336699;"><strong> be working</strong></span> from
                                                home today. </li>
                                        <li><i>&#8216;Why isn&#8217;t she picking up her phone.&#8217; &#8216;She
                                                <strong><span style="color: #336699;">might</span><span
                                                            style="color: #336699;">/may
                                                        </span></strong><strong><span
                                                            style="color: #336699;">be
                                                            driving</span>.&#8217;</strong></i></li>
                                    </ul><br>

                                    <p>We can use <strong>could/might/may</strong><strong> have + past
                                            participle</strong> or <strong>might/may have been + -ing</strong> to say
                                        that <strong>it&#8217;s possible that</strong> <strong>something was true or
                                            happened</strong> in the past.</p><br>

                                    <ul>
                                        <li>It&#8217;s been three days. They <strong><span
                                                        style="color: #336699;">could/might</span><span
                                                        style="color: #336699;">/may</span></strong><span
                                                    style="color: #336699;"> <strong>have finished</strong></span>
                                                painting the house by now.<i> </i></li>
                                        <li><i>If they left at 9, they <strong><span
                                                            style="color: #336699;">could/</span></strong><strong><span
                                                            style="color: #336699;">might</span><span
                                                            style="color: #336699;">/may have
                                                        </span></strong>already<span
                                                    style="color: #336699;"><strong>
                                                            arrived</strong></span>.</i></li>
                                        <li><i>She was home last night, but didn&#8217;t answer the door. She
                                                <strong><span style="color: #336699;">might</span><span
                                                            style="color: #336699;">/may</span></strong><strong><span
                                                            style="color: #336699;"> have been
                                                            having</span></strong> a shower.</i></li>
                                    </ul><br>

                                    <p>We can use <strong>could have + past participle </strong>to say that something
                                        was possible in the past but did not happen.</p><br>

                                    <ul>
                                        <li>He <span style="color: #336699;"><strong>could have
                                                        played</strong></span> in the first division, but he had a
                                                terrible injury.</li>
                                        <li>He <span style="color: #336699;"><strong>could have had</strong></span>
                                                better jobs if he had spoken English. </li>
                                    </ul><br>

                                    <p>That we use <strong>might not</strong> or
                                        <strong>may not</strong> (NOT <strong><del>could not</del></strong>) to talk
                                        about a negative possibility.</p><br>

                                    <ul>
                                        <li>He seems too calm. He <i><strong><span
                                                            style="color: #336699;">might</span><span
                                                            style="color: #336699;">/may</span></strong></i><span
                                                    style="color: #336699;"> <strong>not be</strong></span> aware of the
                                                risks. </li>
                                        <li>She <i><strong><span style="color: #336699;">might</span><span
                                                            style="color: #336699;">/may</span></strong></i><strong><span
                                                        style="color: #336699;"> not have heard</span></strong> us.
                                                Knock again. </li>
                                    </ul><br>

                                    <div class="panel_subtitle">Should/Ought to</div><br>

                                    <p>We use <strong>should</strong>/<strong>ought to +
                                            infinitive</strong> to talk about a situation that we expect to happen
                                        (present or future).</p><br>

                                    <ul>
                                        <li>He <span
                                                    style="color: #336699;"><strong>should</strong></span><span
                                                    style="color: #336699;"><strong>/ought to be</strong></span> home by
                                                now. He is always home before 7. </li>
                                        <li>They <span
                                                    style="color: #336699;"><strong>should</strong></span><span
                                                    style="color: #336699;"><strong>/ought to arrive</strong></span>
                                                before midnight.</li>
                                    </ul><br>

                                    <p>We use <strong>should have</strong>/<strong>ought to have + past
                                            participle</strong> to talk about a situation expected to happen in the
                                        past. We can also use this form to express criticism.</p><br>

                                    <ul>
                                        <li>He <strong><span style="color: #336699;">should</span><span
                                                        style="color: #336699;">/ought to</span></strong><span
                                                    style="color: #336699;"> <strong>have </strong></span><span
                                                    style="color: #336699;"><strong>received</strong></span> the parcel
                                                yesterday. I sent it two days ago. </li>
                                        <li>He <strong><span style="color: #336699;">should</span><span
                                                        style="color: #336699;">/ought to have studied</span></strong>
                                                more. Nobody fails if they study. </li>
                                    </ul><br>

                                    <div class="panel_subtitle">Expressions for speculation</div><br>
                                    <div class="panel_subtitle">-Bound/Sure</div><br>
                                    
                                    <p><strong>Bound</strong> and <strong>sure</strong> are adjectives that
                                        are used to say that we are quite sure that something will be true or happen. We
                                        use them in the structure <strong>be bound/sure + to</strong> infinitive.</p><br>

                                    <ul>
                                        <li>The Jamaican <span style="color: #336699;"><strong>is</strong>
                                                    <strong>bound</strong></span><span
                                                    style="color: #336699;"><strong>/sure</strong> <strong>to
                                                        win</strong></span> the final.</em></li>
                                        <li>There <span style="color: #336699;"><strong>are
                                                        bound</strong></span><span
                                                    style="color: #336699;"><strong>/sure</strong> <strong>to
                                                        be</strong> </span>some discrepancies during the meeting, so be
                                                prepared.></li>
                                    </ul><br>

                                    <div class="panel_subtitle">Likely/Unlikely</div><br>

                                    <p><strong>Likely</strong> and <strong>unlikely</strong> are
                                        adjectives. If something <strong>is likely to happen</strong> it means that it
                                        will probably happen or that it is expected to happen. If something is
                                        <strong>is unlikely to happen</strong> it means that it probably won&#8217;t
                                        happen. We can use these two adjectives in two ways.</p><br>

                                    <p><strong>It is likely/unlikely that</strong> + clause</p><br>

                                    <ul>
                                        <li><span style="color: #336699;"><strong>It&#8217;s likely
                                                        that</strong></span> just in a few years we will change our
                                                economic model.</li>
                                        <li><span style="color: #336699;"><strong>It&#8217;s unlikely
                                                        that</strong></span> the police had anything to do about it.
                                            </li>
                                    </ul><br>

                                    <p>Subject + <strong>be likely/unlikely</strong> + <strong>to</strong> + infinitive
                                    </p><br>

                                    <ul>
                                        <li>He<span style="color: #336699;"> <strong>is likely to</strong></span>
                                                win this game. </li>
                                        <li>They <span style="color: #336699;"><strong>are unlikely
                                                        to</strong></span> reach an agreement.</em></li>
                                    </ul><br>
                                 
                                    <div class="panel_subtitle">Definitely/Probably</div><br>
                                    

                                    <p><strong>Definitely</strong> and <strong>probably</strong> go before
                                        the main verb and after the auxiliary verb (if there is one) in (+) sentences.
                                    </p><br>

                                    <ul>
                                        <li>You&#8217;<span style="color: #336699;"><strong>ll</strong>
                                                    <strong>definitely</strong></span> get the job. Nobody&#8217;s got
                                                your qualifications and experience.</li>
                                        <li>He&#8217;<span style="color: #336699;"><strong>s
                                                        definitely</strong></span> our best player. </li>
                                    </ul><br>

                                    <p>And they go before the auxiliary verb in (-) sentences.</p><br>

                                    <ul>
                                        <li>They<span style="color: #336699;"><strong> definitely won&#8217;t
                                                        find</strong></span> any evidence. </li>
                                        <li>She <span style="color: #336699;"><strong>definitely isn&#8217;t
                                                        seeing</strong></span> anyone right now. </li>
                                    </ul><br>

                                </div>

                                <br><br><br>

                            </div>

                            <div class="tab_panel curriculum">
                                <div
                                            class="cur_title_container d-flex flex-row align-items-start justify-content-start">
                                            <div class="cur_title">Choose the correct forms to complete the sentences below.</div>
                                        </div>
                                       
                                            
                                            
                                           <br>
                                            <div id="quiz-speculation">
                                               
                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">1. The supporters were in shock. They _______ their team to lose.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q1" value="a"> definitely didn´t expect</label></li>
                                                            <li><label><input type="radio" name="q1" value="b"> definitely won´t expect</label></li>
                                                            <li><label><input type="radio" name="q1" value="c"> can´t have expected</label></li>
                                                            <li><label><input type="radio" name="q1" value="d"> must not have expected</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">2. Your parents _______ fly into a rage when they see the scratch on their car. You took it without their permission!</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q2" value="a"> are bound to</label></li>
                                                            <li><label><input type="radio" name="q2" value="b"> are likely</label></li>
                                                            <li><label><input type="radio" name="q2" value="c"> probably will</label></li>
                                                            <li><label><input type="radio" name="q2" value="d"> will definitely</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">3. Experts say that they _______ their first final ever. </div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q3" value="a"> bound to win</label></li>
                                                            <li><label><input type="radio" name="q3" value="b"> sure to win</label></li>
                                                            <li><label><input type="radio" name="q3" value="c"> are likely</label></li>
                                                            <li><label><input type="radio" name="q3" value="d"> might win</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">4. Rafting down the river in May _______ really exciting</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q4" value="a"> must be</label></li>
                                                            <li><label><input type="radio" name="q4" value="b"> is bound to be</label></li>
                                                            <li><label><input type="radio" name="q4" value="c"> problably will be</label></li>
                                                            <li><label><input type="radio" name="q4" value="d"> is problably be</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">5. They _______ home before 6. Their train arrives at 5.30, and they live just opposite the station.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q5" value="a"> will problably be</label></li>
                                                            <li><label><input type="radio" name="q5" value="b"> should be</label></li>
                                                            <li><label><input type="radio" name="q5" value="c"> can´t be</label></li>
                                                            <li><label><input type="radio" name="q5" value="d"> are unlikely be</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">6. They _______ straight to the hotel after the restaurant. I was in the room next door and I didn't hear anything.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q6" value="a"> didn´t definitely</label></li>
                                                            <li><label><input type="radio" name="q6" value="b"> definitely didn´t go</label></li>
                                                            <li><label><input type="radio" name="q6" value="c"> can´t go</label></li>
                                                            <li><label><input type="radio" name="q6" value="d"> couldn´t have gone</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">7. Guests _______ love the views from the terrace. </div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q7" value="a"> might likely</label></li>
                                                            <li><label><input type="radio" name="q7" value="b"> are bound to</label></li>
                                                            <li><label><input type="radio" name="q7" value="c"> probably will</label></li>
                                                            <li><label><input type="radio" name="q7" value="d"> will definitely</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">8. According to the police, the escaped prisoner _______ be hiding in the town any more</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q8" value="a"> might not</label></li>
                                                            <li><label><input type="radio" name="q8" value="b"> must not</label></li>
                                                            <li><label><input type="radio" name="q8" value="c"> won't definitely</label></li>
                                                            <li><label><input type="radio" name="q8" value="d"> is unlikely to</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">9. He _______ his illness with better eating habits. But now it's too late. </div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q9" value="a"> must not have prevented</label></li>
                                                            <li><label><input type="radio" name="q9" value="b"> might have prevented</label></li>
                                                            <li><label><input type="radio" name="q9" value="c"> can have prevented</label></li>
                                                            <li><label><input type="radio" name="q9" value="d"> could have prevented</label></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="card quizlib-question">
                                                    <div class="quizlib-question-title">10. They _______ the battle; they had more soldiers and better equipment, but they lost.</div>
                                                    <div class="quizlib-question-answers">
                                                        <ul>
                                                            <li><label><input type="radio" name="q10" value="a"> are sure to win</label></li>
                                                            <li><label><input type="radio" name="q10" value="b"> should have won</label></li>
                                                            <li><label><input type="radio" name="q10" value="c"> were bound to win</label></li>
                                                            <li><label><input type="radio" name="q10" value="d"> can´t have won</label></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                
                                                <div id="quiz-result" class="card">
                                                        You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span id="quiz-max-score"></span><br/>
                                                    </div>
                                                
                                                <center><button type="button" onclick="showResults(quizSpeculation);">Check Answers</button></center>
                                            </div>  
                            </div>


                        </div>
                    </div>


                    <div class="col-lg-2">
                        <div class="sidebar">
                            <div class="sidebar_background"></div>
                            <div class="sidebar_top">Topics - B2</div>
                            <div class="sidebar_content">

                                <br><br><br>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/wishes_regrets">Wishes and Regrets</a>
                                        </div>
                                    </div><br>
                                </div>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/adjectives_noun">Adjectives Without
                                                Noun</a>
                                        </div>
                                    </div><br>
                                </div>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title"><a href="/mixed_condi">Mixed Conditionals</a>
                                        </div>
                                    </div><br>
                                </div>

                                <div class="like_item ">
                                    <div class="like_title_container">
                                        <div class="topic_title">Speculation And Deduction
                                        </div>
                                    </div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>



    <footer class="footer">
			<div class="footer_body">
				<div class="container">
					<div class="row">

						<div class="col-lg-3 footer_col">
							<div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
								<div class="footer_logo mb-auto"><a href="#">BEE LEARNER</a></div>
							</div>
						</div>

							
							<div class="col-lg-9 footer_col ">
								<div>
									<div class="footer_title">Help & Support</div>
									<ul class="footer_list">
										<li><a href="#">E-mail</a></li>
										<li><a href="#">bislearning4@gmail.com</a></li>
										
									</ul>
								</div>
							</div>
					</div>
				</div>
			</div>
		</footer>
    </div>

    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap4/popper.js"></script>
    <script src="/bootstrap4/bootstrap.min.js"></script>
    
    <script src="/easing/easing.js"></script>
    <script src="/parallax-js-master/parallax.min.js"></script>
    
    <script src="/course.js"></script>
    <script type="text/javascript" src="/quizlib.1.0.1.min.js"></script>
    <script type="text/javascript" src="/quizlib.js"></script>
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>