

<!DOCTYPE html>
<html lang="en">

<head>
    <title>BEE LEARNER</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BEE LEARNER">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/responsive.css">
</head>

<body>

    <div class="super_container">


        <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">
				<a class="navbar-brand pl-0 pl-lg-5 ml-0 ml-lg-5" href="/index">BEE<br>LEARNER</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto pr-5">
						<li class="nav-item">
							<a class="nav-link" href="/index">Home </a>  
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/grammar">Grammar</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/reading">Reading</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/listening">Listening</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/writing">Writing</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/speaking">Speaking</a>
						</li>
						
					</ul>
					<div class="dropdown-divider"></div>
					<ul class="navbar-nav pr-5 mr-5">
						<li class="nav-item">
							<a class="nav-link" href="/auth/logout">Log Out</a>  
						</li>
					</ul>
		
					<!-- <form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form> -->
				</div>
			</nav><br>



        <div class="home">
            <!-- <div class="home_background" style="background-image: url(images/index_background.jpg);"></div> -->
            <div class="home_login">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 coming_title">
                            <h1 class="coming_title"> COMING SOON!</h1><br>

                            <div class="coming"><p>This Feature Will Be Added In A Future Update</p></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        

        <div class="space"></div>
        <div class="space"></div>

        <div class="space"></div>

        <footer class="footer">
            <div class="footer_body">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 footer_col">
                            <div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
                                <div class="footer_logo mb-auto"><a href="#">BEE LEARNER</a></div>
                            </div>
                        </div>

                        <div class="col-lg-9 footer_col">
                            <div>
                                <div class="footer_title">Help & Support</div>
                                <ul class="footer_list">
                                    <li><a href="#">E-mail</a></li>
                                    <li><a href="#">bislearning4@gmail.com</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap4/popper.js"></script>
    <script src="/bootstrap4/bootstrap.min.js"></script>
    <script src="/easing/easing.js"></script>

</body>

</html>
